$width: 200px;

.card-item {
  border-radius: 10px;
  width: $width;
  height: $width * 1.41;
  display: inline-block;
  position: relative;
  // box-shadow: 0 0 0.7rem 0.2rem rgba(111, 111, 111, 0.1);
  margin: 0 0.3rem;
  margin-top: 1rem;
  margin: 0.3rem;
  overflow: hidden;

  img {
    width: 100%;
  }

  &:hover name {
    bottom: -4rem;
  }

  name {
    position: absolute;
    left: 0;
    padding-bottom: 5rem;
    background-color: #2c3e50;

    h3 {
      display: block;
      color: white;
      margin: 0;
      padding: 1rem 0;
      font-size: 1rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
      transition: bottom 0.4s;
    }
  }

  &__episode {
    right: 5px;
    bottom: 5px;
    font-size: 0.6rem;
    background-color: black;
    padding: 2px 3px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    color: white;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}