.menu {
  padding: 1rem;
  background-color: #0f2133;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 25px;
  }

  ul {
    display: none;
    list-style-type: none;

    @media (min-width: 900px) {
      display: flex;
    }

    // width: 900px;
    a {
      text-decoration: none;
    }

    li {
      margin: 0.6rem;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      // width: 4rem;
      // background-color: white;
      &.active {
        color: #f39c12;
      }
    }
  }
}