@import "./cardItem.scss";
@import './menu.scss';
@import './watch.scss';

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
}

// @import "hah";
.menu {
  display: none;

  @media (min-width: 800px) {
    display: flex;
  }

  padding: 1rem;
  background-color: #0f2133;
  height: 50px;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 25px;
  }

  ul {
    display: flex;
    list-style-type: none;

    // width: 900px;
    a {
      text-decoration: none;
    }

    li {
      margin: 0.6rem;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      // width: 4rem;
      // background-color: white;
      &.active {
        color: #f39c12;
      }
    }
  }
}

.home {
  background-color: #091520;
  width: 100%;
  padding: 2rem;

  &__title {
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    align-self: start;
    max-width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
    border-left: 3px solid white;
    // text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  &__last-added {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    // width: 100%;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  &__songs {
    width: 100%;
    padding: 2rem;
    background-color: #0b2035;

    &-container {
      width: 100%;
      display: grid;
      grid-template-columns: 70% 30%;
      background-color: rgba(167, 146, 146, 0.5);
    }

    &-slide {
      background-color: cadetblue;

      .vsc-controller {
        display: none;
      }

      video {
        height: 100%;
        width: 100%;
      }

      &-list {
        width: 300px;

        &_slide {
          background-color: chartreuse;
          height: 100%;

          .slick-list {
            height: 100%;
            background-color: cadetblue;
          }

          // .slick-slide {
          //   // height: 100%;
          //   // background-color: red;
          // }
        }

        h1 {
          color: white;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 300;
          // display: inline;
        }
      }
    }
  }
}