.big-list .bl-box .blb-title,
.breadcrumb,
.textOverflow,
.video-content-main .page-title h1,
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-label,
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox,
.video-content-main .vcm-left .video-nav .vn-bt a {
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
head>img {
 display:none
}
.advanced-search .as-trigger,
.box-list-other .other-box .ob-bts,
.chatTrigger,
.mailCheck input+label,
.main,
.transitionP2,
.video-content-main,
.video-content-main .black-filter,
.video-content-main .vcm-left,
.video-content-main .vcm-left .video,
.video-content-main.watchFull .vcm-right {
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s
}
.back-to-top,
.big-list .bl-box .bl-drop,
.transitionP4,
.video-content-main .vcm-left .subtitleSelector,
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop {
 -webkit-transition:.4s;
 -moz-transition:.4s;
 -o-transition:.4s;
 transition:.4s
}
.transitionP6 {
 -webkit-transition:.6s;
 -moz-transition:.6s;
 -o-transition:.6s;
 transition:.6s
}
.full-label {
 width:100%;
 float:left;
 color:rgba(255,255,255,.6);
 margin-bottom:3px
}
.full-input,
.full-select,
.full-textarea {
 width:100%;
 height:35px;
 float:left;
 background:#fff;
 padding:0 7px;
 font-family:Montserrat;
 color:#333;
 border-radius:3px;
 border:none;
 outline-color:#ff7302
}
.full-input.triple,
.full-select.triple,
.full-textarea.triple {
 width:30.3%;
 margin-right:3%
}
.full-textarea {
 height:100px;
 padding:7px
}
.dark-input,
.dark-select,
.dark-textarea {
 width:100%;
 height:35px;
 float:left;
 background:rgba(0,0,0,.5);
 padding:0 7px;
 font-family:Montserrat;
 color:#fff;
 border-radius:3px;
 border:none;
 outline-color:#ff7302
}
.dark-textarea {
 height:100px;
 padding:7px
}
.blueColor {
 color:#1e87ca!important
}
a.blueColor {
 color:#1e87ca!important
}
.light-input,
.light-select {
 width:100%;
 height:35px;
 float:left;
 background:rgba(255,255,255,.1);
 padding:0 7px;
 font-family:Montserrat;
 color:#fff;
 border-radius:3px;
 border:none;
 border:1px solid rgba(255,255,255,.2);
 outline-color:#ff7302
}
.light-input option,
.light-select option {
 color:#333
}
.validationMessage {
 width:100%;
 height:auto;
 float:left;
 background:#512222;
 color:rgba(255,255,255,.6);
 text-align:center;
 padding:4px
}
.auto-button {
 width:auto;
 float:left;
 color:#fff!important;
 cursor:pointer;
 font-family:Montserrat;
 background:linear-gradient(#ff7302,#ff251a);
 border-radius:2px;
 padding:0 12px;
 height:35px;
 font-size:12px;
 border:none;
 line-height:35px
}
.auto-button:hover {
 opacity:.8
}
.auto-button.mid {
 padding:0 7px;
 height:25px;
 line-height:25px
}
.auto-button.min {
 padding:0 5px;
 height:20px;
 line-height:20px;
 font-size:10px
}
.auto-button.full {
 width:100%
}
.auto-button.passive {
 background:rgba(255,255,255,.3)
}
.main {
 width:100%;
 float:left;
 position:relative;
 min-width:320px
}
.main.haveChat {
 padding-right:0
}
.main.havePopular {
 padding-right:0
}
.main.haveChat.havePopular {
 padding-right:570px
}
.searchModal {
 width:100%;
 height:0;
 position:fixed;
 left:0;
 top:0;
 overflow:hidden;
 -webkit-transform-origin:100% 0;
 transform-origin:100% 0;
 -webkit-transition-duration:.5s;
 transition-duration:.5s;
 -webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);
 transition-timing-function:cubic-bezier(.7,0,.3,1);
 z-index:9999999
}
.searchModal .sm-filter {
 width:100%;
 height:0;
 position:fixed;
 left:0;
 bottom:0;
 background:rgba(0,0,0,.5);
 -webkit-transform-origin:100% 0;
 transform-origin:100% 0;
 -webkit-transition-duration:.5s;
 transition-duration:.5s;
 -webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);
 transition-timing-function:cubic-bezier(.7,0,.3,1)
}
.searchModal .sm-content {
 width:4%;
 height:0%;
 overflow:hidden;
 position:fixed;
 left:48%;
 top:-3%;
 background:rgba(255,255,255,.9);
 -webkit-transform-origin:100% 0;
 transform-origin:100% 0;
 -webkit-transition-duration:.5s;
 transition-duration:.5s;
 -webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);
 transition-timing-function:cubic-bezier(.7,0,.3,1)
}
.searchModal .sm-content .searchClose {
 width:30px;
 height:30px;
 position:absolute;
 right:20px;
 top:20px;
 text-align:center;
 line-height:30px;
 color:#999;
 cursor:pointer;
 font-size:17px
}
.searchModal .sm-content .searchClose:hover {
 background:#fff
}
.searchModal .sm-content .smc-search {
 width:100%;
 height:100px;
 float:left;
 position:relative;
 padding-right:100px
}
.searchModal .sm-content .smc-search .smcs-input {
 width:100%;
 height:100px;
 float:left;
 background:0 0;
 border:none;
 outline:0;
 letter-spacing:-4px;
 font-size:50px;
 font-family:Montserrat;
 color:#666
}
.searchModal .sm-content .smc-search .smcs-button {
 width:100px;
 height:100px;
 position:absolute;
 right:0;
 top:0;
 border:none;
 background:0 0;
 font-size:50px;
 color:#999;
 outline:0
}
.searchModal .sm-content .smc-title {
 width:100%;
 float:left;
 height:50px;
 line-height:50px;
 color:#c2c2c2;
 font-size:20px;
 overflow:hidden;
 letter-spacing:-1.5px
}
.searchModal .sm-content .smc-results {
 position:absolute;
 left:100px;
 top:220px;
 bottom:50px;
 right:100px
}
.searchModal .sm-content .sm-list {
 width:100%!important;
 height:auto;
 float:left;
 position:static!important
}
.searchModal .sm-content .sm-list li {
 width:33.3%;
 height:80px;
 float:left;
 padding:5px
}
.searchModal .sm-content .sm-list li a {
 width:100%;
 height:70px;
 float:left;
 background:#dedede;
 margin-bottom:3px;
 overflow:hidden;
 border:1px solid transparent;
 border-radius:5px;
 padding:9px
}
.searchModal .sm-content .sm-list li a:hover {
 background:#ebebeb;
 border:1px solid #ccc
}
.searchModal .sm-content .sm-list li a .result-image {
 width:50px;
 height:50px;
 float:left;
 overflow:hidden;
 border-radius:50%
}
.searchModal .sm-content .sm-list li a .result-image img {
 width:100%
}
.searchModal .sm-content .sm-list li a .rl-details {
 margin-left:60px;
 height:51px;
 overflow:hidden;
 line-height:17px
}
.searchModal .sm-content .sm-list li a .rl-details .result-title {
 color:#666;
 font-size:13px;
 font-weight:600
}
.searchModal .sm-content .sm-list li a .rl-details .result-latest {
 color:#999;
 font-size:11px
}
.searchModal.active {
 height:100%
}
.searchModal.active .sm-filter {
 height:100%
}
.searchModal.active .sm-content {
 width:98%;
 left:1%;
 height:98%;
 top:1%;
 padding:50px 100px;
 -webkit-transition-delay:.4s;
 transition-delay:.4s
}
.top-band {
 width:100%;
 height:90px;
 float:left;
 margin:-10px 0 10px;
 text-align:center
}
.top-band .tb-content {
 width:728px;
 height:90px;
 display:inline-block;
 overflow:hidden;
 position:relative
}
.top-band .tb-content:before {
 width:120%;
 height:10px;
 position:absolute;
 left:-10%;
 top:-10px;
 box-shadow:0 0 20px #000;
 content:' '
}
.ltSlider {
 width:1038px;
 height:290px;
 display:inline-block;
 position:relative
}
.ltSlider .ls-next,
.ltSlider .ls-prev {
 width:26px;
 height:26px;
 position:absolute;
 right:390px;
 top:-38px;
 text-align:center;
 line-height:90px;
 font-size:16px;
 text-align:center;
 line-height:28px;
 border-radius:50%;
 cursor:pointer;
 color:#fff
}
.ltSlider .ls-next:hover,
.ltSlider .ls-prev:hover {
 background:rgba(255,255,255,.2)
}
.ltSlider .ls-prev {
 right:auto;
 left:390px
}
.wide-anime-box {
 width:100%;
 height:auto;
 float:left;
 border-bottom:1px solid rgba(255,255,255,.1);
 padding-bottom:10px;
 margin-bottom:10px
}
.wide-anime-box:last-child {
 padding:0;
 margin:0;
 border:none
}
.wide-anime-box .wab-image {
 width:90px;
 float:left;
 height:135px;
 float:left;
 position:relative;
 background-size:100% auto
}
.wide-anime-box .wab-image .wab-point {
 width:auto;
 height:20px;
 position:absolute;
 left:5px;
 top:5px;
 background:rgba(255,255,255,.9);
 line-height:20px;
 padding:0 4px;
 color:#ff7302;
 border-radius:10px;
 box-shadow:0 0 5px rgba(0,0,0,.5)
}
.wide-anime-box .wab-image img {
 width:100%
}
.wide-anime-box .wab-right {
 margin-left:105px
}
.wide-anime-box .wab-right.hasMail .wab-title {
 width:90%
}
.wide-anime-box .wab-title {
 width:100%;
 float:left;
 margin-bottom:3px;
 font-size:15px;
 color:#fff;
 letter-spacing:-.5px
}
.wide-anime-box .wab-title a {
 color:#fff
}
.wide-anime-box .wab-title a:hover {
 color:#ff3f12
}
.wide-anime-box .wab-links {
 width:100%;
 float:left;
 color:#fff;
 margin-bottom:5px;
 font-size:10px
}
.wide-anime-box .wab-links a {
 color:#fff
}
.wide-anime-box .wab-links a:hover {
 text-decoration:underline
}
.wide-anime-box .wab-desc {
 width:100%;
 height:auto;
 float:left;
 max-height:45px;
 font-size:10px;
 font-weight:100;
 line-height:15px;
 color:rgba(255,255,255,.6);
 overflow:hidden
}
.wide-anime-box .wab-s-title {
 width:100%;
 float:left;
 height:15px;
 line-height:15px;
 color:#ff3f12;
 overflow:hidden
}
.wide-anime-box .wab-list {
 width:100%;
 float:left
}
.wide-anime-box .wab-list li {
 width:100%;
 float:left;
 padding:3px 0;
 position:relative;
 padding-left:15px
}
.wide-anime-box .wab-list li:before {
 width:16px;
 height:16px;
 font:normal normal normal 11px/1 FontAwesome;
 text-align:left;
 line-height:16px;
 color:#ff3f12;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 position:absolute;
 left:0;
 top:3px;
 content:"\f061"
}
.wide-anime-box .wab-list li a {
 color:#fff
}
.wide-anime-box .wab-list li a:hover {
 text-decoration:underline
}
.min-anime-box {
 width:100%;
 float:left;
 padding-bottom:7px;
 margin-bottom:7px;
 border-bottom:1px solid rgba(255,255,255,.1)
}
.min-anime-box:last-child {
 padding:0;
 margin:0;
 border:none
}
.min-anime-box .mab-image {
 width:60px;
 height:90px;
 float:left;
 overflow:hidden;
 background-size:100% auto
}
.min-anime-box .mab-image img {
 width:100%
}
.min-anime-box .mab-right {
 margin-left:70px
}
.min-anime-box .mab-title {
 width:100%;
 float:left;
 margin-bottom:3px;
 font-size:13px;
 color:#fff;
 letter-spacing:-.5px
}
.min-anime-box .mab-title a {
 color:#fff
}
.min-anime-box .mab-title a:hover {
 color:#ff3f12
}
.min-anime-box .mab-desc {
 width:100%;
 height:auto;
 float:left;
 max-height:26px;
 font-size:10px;
 font-weight:100;
 line-height:13px;
 color:rgba(255,255,255,.6);
 overflow:hidden
}
.min-anime-box .mab-list {
 width:100%;
 float:left
}
.min-anime-box .mab-list li {
 width:100%;
 float:left;
 padding:3px 0;
 position:relative;
 padding-left:15px
}
.min-anime-box .mab-list li:before {
 width:16px;
 height:16px;
 font:normal normal normal 11px/1 FontAwesome;
 text-align:left;
 line-height:16px;
 color:#ff3f12;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 position:absolute;
 left:0;
 top:3px;
 content:"\f061"
}
.min-anime-box .mab-list li a {
 color:#fff
}
.min-anime-box .mab-list li a:hover {
 text-decoration:underline
}
.min-anime-box .mab-links {
 width:100%;
 float:left;
 color:#fff;
 margin-bottom:5px;
 font-size:10px
}
.min-anime-box .mab-links a {
 color:#fff
}
.min-anime-box .mab-links a:hover {
 text-decoration:underline
}
.see-all-center,
a.see-all-center {
 width:100%;
 float:left;
 padding-top:4px;
 text-align:center;
 color:rgba(255,255,255,.6);
 font-size:10px
}
.see-all-center:hover,
a.see-all-center:hover {
 text-decoration:underline
}
.arrow-list {
 width:100%;
 float:left
}
.arrow-list li {
 width:100%;
 float:left;
 padding:3px 0;
 position:relative;
 padding-left:15px
}
.arrow-list li span {
 background:rgba(115,255,206,.53);
 padding:0 4px;
 border-radius:3px;
 color:#000;
 box-shadow:0 0 16px #000103 inset;
 font-size:10px
}
.arrow-list li:before {
 width:16px;
 height:16px;
 font:normal normal normal 11px/1 FontAwesome;
 text-align:left;
 line-height:16px;
 color:#ff3f12;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 position:absolute;
 left:0;
 top:3px;
 content:"\f061"
}
.arrow-list li a {
 color:#fff
}
.arrow-list li a:hover {
 text-decoration:underline
}
.arrow-list.transparentList li {
 opacity:.6
}
.arrow-list.transparentList li.active {
 opacity:1
}
.main-title {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0;
 color:#fff;
 font-size:17px
}
.content-title {
 width:100%;
 height:auto;
 float:left;
 font-size:16px;
 color:#fff;
 letter-spacing:-.5px;
 margin-bottom:10px
}
.content-title.border {
 padding-bottom:10px;
 margin-bottom:10px;
 border-bottom:1px solid rgba(255,255,255,.1);
 margin-top:30px
}
.big-list {
 width:100%;
 height:auto;
 float:left;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.big-list .bl-grid {
 width:25%;
 float:left;
 padding:5px
}
.big-list .bl-box {
 width:100%;
 position:relative;
 float:left
}
.big-list .bl-box .blb-image {
 width:100%;
 float:left;
 margin-bottom:5px;
 overflow:hidden;
 background-size:100% auto;
 max-height:250px;
 border:3px solid rgba(198,154,255,.15);
 border-radius:5px
}
.big-list .bl-box .blb-image .blb-point {
 width:auto;
 height:20px;
 position:absolute;
 left:10px;
 top:10px;
 background:rgba(255,255,255,.9);
 line-height:20px;
 padding:0 4px;
 color:#ff7302;
 border-radius:10px;
 box-shadow:0 0 5px rgba(0,0,0,.5)
}
.big-list .bl-box .blb-image img {
 width:100%;
 height:100%
}
.big-list .bl-box .blb-title {
 width:100%;
 height:25px;
 line-height:25px;
 float:left;
 color:#fff;
 text-align:center;
 font-size:13px;
 letter-spacing:-.6px
}
.big-list .bl-box .blb-title:hover {
 color:#ff7302
}
.big-list .bl-box .blb-links {
 width:100%;
 text-align:center;
 color:rgba(255,255,255,.5);
 line-height:15px;
 height:30px;
 font-size:10px;
 overflow:hidden
}
.big-list .bl-box .blb-links a {
 color:rgba(255,255,255,.5)
}
.big-list .bl-box .blb-links a:hover {
 text-decoration:underline
}
.big-list .bl-box .bl-drop {
 width:430px;
 position:absolute;
 left:0;
 bottom:0;
 background:rgba(0,0,0,.9);
 padding:9px;
 border:2px solid #f15915;
 border-radius:4px;
 z-index:99999;
 box-shadow:0 10px 10px rgba(0,0,0,.75);
 visibility:hidden;
 -webkit-transform:perspective(300px) rotateY(90deg);
 -ms-transform:perspective(300px) rotateY(90deg);
 -moz-transform:perspective(300px) rotateY(90deg);
 transform:perspective(300px) rotateY(90deg);
 transform-origin:0 40px;
 opacity:0
}
.big-list .bl-box .bl-drop:before {
 border:solid transparent;
 border-top-color:#f15915;
 border-width:6px;
 left:60px;
 bottom:-14px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.big-list .bl-box .bl-drop .bld-image {
 width:70px;
 float:left
}
.big-list .bl-box .bl-drop .bld-image img {
 width:100%
}
.big-list .bl-box .bl-drop .bld-right {
 margin-left:80px
}
.big-list .bl-box .bl-drop .bld-title {
 width:100%;
 float:left;
 font-size:15px;
 color:#fff
}
.big-list .bl-box .bl-drop .bld-title:hover {
 color:#ff7302
}
.big-list .bl-box .bl-drop .details {
 width:100%;
 height:auto;
 float:left;
 margin:3px 0;
 color:rgba(255,255,255,.6);
 line-height:13px
}
.big-list .bl-box .bl-drop .details a {
 color:rgba(255,255,255,.6)
}
.big-list .bl-box .bl-drop .details a:hover {
 text-decoration:underline
}
.big-list .bl-box:hover .bl-drop {
 opacity:1;
 bottom:50px;
 visibility:visible;
 -webkit-transform:rotateY(0);
 -ms-transform:rotateY(0);
 -moz-transform:rotateY(0);
 transform:rotateY(0);
 -webkit-transition-delay:.8s;
 transition-delay:.8s
}
.big-list.list5 .bl-grid {
 width:20%;
 height:260px
}
.big-list.list5 .bl-box {
 height:240px
}
.big-list.list5 .bl-box .blb-image {
 height:180px
}
.page-title {
 width:100%;
 height:auto;
 float:left
}
.page-title h1 {
 width:100%;
 float:left;
 color:#fff;
 font-size:20px;
 letter-spacing:-1.2px
}
.breadcrumb {
 width:100%;
 height:auto;
 color:rgba(255,255,255,.4);
 float:left
}
.breadcrumb span {
 float:left;
 margin-right:5px
}
.breadcrumb ul li {
 width:auto;
 float:left;
 padding:0 3px
}
.breadcrumb ul li a {
 color:rgba(255,255,255,.4)
}
.breadcrumb ul li a:hover {
 text-decoration:underline
}
.alph-nav {
 width:100%;
 float:left;
 margin:12px 0;
 background-color:#1c2231;
 box-shadow:inset 0 0 5px rgba(0,0,0,.53);
 text-align:center
}
.alph-nav a {
 width:auto;
 height:30px;
 display:inline-block;
 color:#fff;
 font-size:10px;
 line-height:30px;
 padding:0 5px;
 margin:0 1px;
 border:1px solid transparent;
 border-radius:4px
}
.alph-nav a:hover {
 background:rgba(255,255,255,.1);
 border-color:rgba(255,255,255,.2)
}
.genre-col {
 width:160px
}
.genre-right {
 margin-left:170px
}
.genre-right .big-list .bl-grid {
 height:250px
}
.genre-right .big-list .bl-box {
 height:230px
}
.genre-right .big-list .bl-box .blb-image {
 height:170px
}
.advanced-search {
 width:100%;
 min-height:40px;
 float:left;
 position:relative;
 padding-left:55px;
 margin:10px 0 20px
}
.advanced-search.closed .as-content {
 display:none
}
.advanced-search.closed .as-trigger {
 left:50%;
 margin-left:-20px
}
.advanced-search .as-trigger {
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 margin-left:0;
 left:0;
 background:rgba(255,255,255,.1);
 color:#fff;
 text-align:center;
 line-height:40px;
 border-radius:50%;
 cursor:pointer
}
.advanced-search .as-trigger:hover {
 background:rgba(255,255,255,.2)
}
.advanced-search .as-content {
 width:100%;
 float:left;
 padding:10px;
 position:relative;
 background:rgba(255,255,255,.1);
 border-radius:3px;
 color:#fff
}
.advanced-search .as-content:before {
 border:solid transparent;
 border-right-color:rgba(255,255,255,.1);
 border-width:6px;
 left:-12px;
 top:14px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.advanced-search .as-pane {
 width:100%;
 height:auto;
 float:left;
 margin:5px 0;
 padding:9px;
 border:1px solid rgba(255,255,255,.1)
}
.advanced-search .as-pane .asp-title {
 height:20px;
 font-size:10px;
 background:rgba(255,255,255,.05);
 padding:0 7px;
 line-height:20px;
 margin:-10px -10px 10px
}
.advanced-search .as-pane .min-title {
 width:100%;
 float:left;
 margin:3px 0
}
.advanced-search .as-pane .as-options {
 width:100%;
 height:auto;
 float:left;
 margin:5px 0;
 text-align:center
}
.advanced-search .as-pane .as-options ul li {
 width:24%;
 padding:5px;
 display:inline-block
}
.advanced-search .as-pane .as-options ul li .option {
 width:100%;
 height:30px;
 float:left;
 padding:5px;
 line-height:20px;
 background:rgba(255,255,255,.05);
 text-align:left;
 border-radius:3px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
.advanced-search .as-pane .as-options ul li .option .checkBox {
 width:14px;
 height:14px;
 float:left;
 margin:3px;
 border-radius:2px;
 margin-right:5px;
 position:relative;
 background:rgba(255,255,255,.1);
 cursor:pointer;
 border:1px solid rgba(255,255,255,.1)
}
.advanced-search .as-pane .as-options ul li .option .checkBox:before {
 width:14px;
 height:14px;
 position:absolute;
 left:-1px;
 top:-1px;
 content:' ';
 text-align:center;
 line-height:14px!important;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.advanced-search .as-pane .as-options ul li .option .checkBox.v1 {
 background:rgba(255,255,255,.3);
 border:1px solid rgba(255,255,255,.8)
}
.advanced-search .as-pane .as-options ul li .option .checkBox.v1:before {
 content:"\f00c";
 line-height:14px
}
.advanced-search .as-pane .as-options ul li .option .checkBox.v2 {
 background:rgba(255,255,255,.3);
 border:1px solid rgba(255,255,255,.8)
}
.advanced-search .as-pane .as-options ul li .option .checkBox.v2:before {
 content:"\f00d";
 line-height:15px!important
}
.advanced-search input[type=radio] {
 display:none
}
.advanced-search input[type=radio]+label span {
 display:inline-block;
 width:14px;
 height:14px;
 margin:-1px 4px 0 0;
 vertical-align:middle;
 cursor:pointer;
 -moz-border-radius:50%;
 position:relative;
 border-radius:50%
}
.advanced-search input[type=radio]+label span {
 background:rgba(255,255,255,.2)
}
.advanced-search input[type=radio]:checked+label span {
 background-color:#fff
}
.advanced-search input[type=radio]:checked+label span:before {
 width:14px;
 height:14px;
 float:left;
 content:"\f00c";
 display:inline-block;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 color:#000;
 line-height:15px;
 text-align:center
}
.advanced-search input[type=radio]+label span,
.advanced-search input[type=radio]:checked+label span {
 -webkit-transition:background-color .4s linear;
 -o-transition:background-color .4s linear;
 -moz-transition:background-color .4s linear;
 transition:background-color .4s linear
}
.date-list {
 width:100%;
 height:auto;
 float:left
}
.date-list .dl-title {
 width:100%;
 float:left;
 height:20px;
 border-bottom:1px solid rgba(255,255,255,.1);
 color:rgba(255,255,255,.5);
 line-height:20px;
 font-size:10px;
 padding:0 7px
}
.date-list .name {
 float:left;
 width:80%
}
.date-list .time {
 width:19%;
 font-size:10px;
 float:right;
 text-align:right
}
.date-list .dl-item {
 width:100%;
 float:left;
 border-bottom:1px solid rgba(255,255,255,.1);
 color:rgba(255,255,255,.5);
 font-size:12px;
 padding:7px
}
.date-list .dl-item:nth-child(even) {
 background:rgba(255,255,255,.05)
}
.date-list .dl-item a {
 color:#fff
}
.date-list .dl-item a:hover {
 color:#ff7302
}
.faq-pane {
 width:100%;
 height:auto;
 float:left;
 padding:10px;
 background:rgba(255,255,255,.05);
 margin:10px 0;
 color:rgba(255,255,255,.7)!important;
 border-radius:3px
}
.faq-pane h4 {
 color:#fff;
 font-size:12px;
 margin-bottom:4px
}
.anime-top {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0
}
.anime-top .anime-image {
 float:left;
 width:210px;
 height:315px;
 position:relative;
 background-size:100% auto
}
.anime-top .anime-image img {
 width:100%
}
.anime-top .anime-image .age-rating {
 position:absolute;
 right:-7px;
 bottom:-7px;
 width:45px
}
.anime-top .at-right {
 margin-left:230px
}
.anime-top .ar-item {
 width:100%;
 height:auto;
 float:left;
 margin:2px 0
}
.anime-top .ar-language {
 margin:12px 0;
 width:50%;
 float:left;
 line-height:20px
}
.anime-top .ar-language .ar-flag {
 width:20px;
 height:15px;
 display:inline-block;
 margin-left:3px;
 line-height:0
}
.anime-top .ar-buttons {
 margin:10px -10px -10px
}
.anime-top .ar-buttons .bt-cts {
 width:100%;
 float:left;
 background:rgba(255,255,255,.1);
 margin-bottom:-10px;
 overflow:hidden;
 border-radius:0 0 3px 3px
}
.anime-top .ar-buttons .bt {
 width:50%;
 float:left;
 height:35px;
 text-align:center;
 line-height:35px;
 font-size:12px;
 cursor:pointer;
 color:#fff!important
}
.anime-top .ar-buttons .bt.active {
 opacity:.4
}
.anime-top .ar-buttons .bt:hover {
 background:rgba(255,255,255,.2)
}
.anime-top .ar-buttons .bt:first-child {
 border-right:1px solid rgba(255,255,255,.3)
}
.mail-subsr {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0;
 border-radius:3px;
 background:rgba(255,255,255,.05);
 padding:10px
}
.mail-subsr .ms-label {
 width:200px;
 float:left;
 text-align:right;
 line-height:35px;
 color:#fff
}
.mail-subsr .ms-label i {
 font-size:17px;
 opacity:.3;
 margin-right:10px
}
.mail-subsr .ms-right {
 margin-left:215px;
 height:35px;
 background:rgba(0,0,0,.3);
 border-radius:2px;
 position:relative;
 padding-right:60px
}
.mail-subsr .ms-right .ms-input {
 width:100%;
 height:35px;
 background:0 0;
 color:#fff;
 border:none;
 font-family:Montserrat;
 padding-left:10px;
 outline:0
}
.mail-subsr .ms-right .ms-bt {
 width:60px;
 position:absolute;
 right:0;
 top:0;
 background:#000;
 height:35px;
 line-height:35px;
 color:#fff;
 border:none;
 opacity:.5
}
.mail-subsr .ms-right .ms-bt:hover {
 opacity:1
}
.check-list {
 width:100%;
 height:auto;
 float:left
}
.check-list li {
 width:100%;
 height:auto;
 float:left;
 margin:6px 0;
 color:rgba(255,255,255,.7);
 font-size:10px;
 line-height:16px;
 padding-left:22px;
 position:relative
}
.check-list li .epCheck {
 position:absolute;
 left:0
}
.check-list li a {
 font-size:12px;
 color:#fff
}
.check-list li a:hover {
 color:#ff7302
}
.epCheck {
 width:16px;
 height:16px;
 float:left;
 position:relative;
 overflow:hidden
}
.epCheck:before {
 display:none
}
.epCheck input {
 position:absolute;
 left:-12px;
 top:-12px
}
.epCheck input+label {
 width:16px;
 height:16px;
 position:absolute;
 left:0;
 top:0;
 border-radius:50%;
 border:none;
 background-color:rgba(255,255,255,.3)
}
.epCheck input:checked+label:before {
 width:16px;
 height:16px;
 position:absolute;
 left:0;
 top:0;
 border-radius:50%;
 background:#ff3f12;
 content:"\f00c";
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 text-align:center;
 line-height:17px
}
.epCheck input+label:hover {
 background-color:rgba(255,255,255,.5)
}
.mailCheck {
 width:34px;
 height:16px;
 text-align:right;
 color:#fff;
 float:right;
 border-radius:8px;
 padding-right:4px;
 background:#666;
 position:relative;
 overflow:hidden
}
.mailCheck:before {
 display:none
}
.mailCheck input {
 position:absolute;
 left:-12px;
 top:-12px
}
.mailCheck input+label {
 text-align:left;
 overflow:hidden;
 width:16px;
 height:16px;
 position:absolute;
 left:0;
 top:0;
 border-radius:50%;
 border:none;
 background-color:rgba(255,255,255,.3)
}
.mailCheck input+label:hover {
 background-color:rgba(255,255,255,.5)
}
.mailCheck input:checked+label {
 width:34px;
 height:16px;
 position:absolute;
 left:0;
 top:0;
 border-radius:8px;
 border:none;
 padding-left:4px;
 background-color:#ff3f12
}
.mailCheck input+label:before {
 width:16px;
 height:16px;
 position:absolute;
 right:0;
 top:0;
 border-radius:50%;
 background:#fff;
 content:"\f00c";
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 text-align:center;
 line-height:17px
}
.toast {
 width:280px;
 height:auto;
 position:fixed;
 right:10px;
 top:70px;
 border-radius:3px;
 box-shadow:0 0 5px rgba(0,0,0,.75);
 background:rgba(63,41,47,.9);
 z-index:99999999999;
 background:rgba(72,130,86,.9);
 color:#fff
}
.toast .toast-content {
 width:240px;
 height:auto;
 color:rgba(255,255,255,.7);
 padding:15px
}
.toast .toast-content a {
 text-decoration:underline;
 color:rgba(255,255,255,.7)
}
.toast .toast-content a:hover {
 text-decoration:none
}
.toast .toast-content span {
 font-size:13px;
 color:#fff;
 font-weight:600
}
.toast .toast-close {
 width:20px;
 height:20px;
 right:13px;
 top:50%;
 margin-top:-10px;
 position:absolute;
 border-radius:50%;
 cursor:pointer;
 text-align:center;
 line-height:20px;
 opacity:.5
}
.toast .toast-close:hover {
 opacity:1;
 background-color:rgba(0,0,0,.1)
}
.toast.red {
 background:rgba(150,33,33,.9)
}
.toast.green {
 background:rgba(72,130,86,.9)
}
.toast.blue {
 background:rgba(51,131,187,.9)
}
.video-content-main {
 width:100%;
 position:relative;
 margin:10px 0;
 overflow:hidden;
 height:600px
}
.video-content-main.watchDark .vcm-left {
 z-index:99999999
}
.video-content-main.watchDark .vcm-right {
 z-index:999999999!important
}
.video-content-main.watchDark .black-filter {
 display:block
}
.video-content-main.watchFull {
 height:782px
}
.video-content-main.watchFull .vcm-left {
 width:100%
}
.video-content-main.watchFull .vcm-left .video {
 height:592px
}
.video-content-main.watchFull .vcm-left .vb-bar .videoButtons .bt.playList {
 display:block
}
.video-content-main.watchFull .vcm-right {
 overflow:hidden;
 visibility:hidden;
 position:absolute;
 right:0;
 height:0;
 bottom:120px;
 z-index:99;
 background:rgba(0,0,0,.8);
 box-shadow:0 0 15px #000
}
.video-content-main.watchFull .vcm-right.active {
 visibility:visible;
 height:592px
}
.video-content-main .page-title {
 position:relative;
 height:35px
}
.video-content-main .page-title h1 {
 color:#ff3f12
}
.video-content-main .page-title .notPlaying {
 width:150px;
 height:24px;
 border-radius:3px;
 margin-top:10px;
 background:rgba(255,255,255,.05);
 font-size:10px;
 color:rgba(255,255,255,.3);
 line-height:24px;
 letter-spacing:-.5px;
 position:absolute;
 right:0;
 text-align:center
}
.video-content-main .page-title .notPlaying a {
 color:rgba(255,255,255,.5);
 text-decoration:underline
}
.video-content-main .page-title .notPlaying a:hover {
 text-decoration:none
}
.video-content-main .vcm-left {
 width:720px;
 float:left;
 position:relative;
 z-index:99
}
.video-content-main .vcm-left .video {
 width:100%;
 height:410px;
 float:left;
 position:relative;
 background:#000
}
.video-content-main .vcm-left .vb-bar {
 width:100%;
 height:40px;
 float:left;
 text-align:center;
 background:rgba(255,255,255,.1)
}
.vb-bar .animeDetail-buttons {
 float:left;
 padding:5px
}
.vb-bar .animeDetail-buttons .animeDetail-bt {
 width:auto;
 height:30px;
 float:left;
 background:linear-gradient(#ff7302,#ff251a);
 padding:0 10px;
 line-height:30px;
 color:#fff;
 font-size:12px;
 cursor:pointer;
 margin-right:5px
}
.vb-bar .animeDetail-buttons .animeDetail-bt:hover {
 opacity:.8
}
.vb-bar .animeDetail-buttons .animeDetail-bt.active {
 background:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.1))
}
.video-content-main .vcm-left .vb-bar .watchCount {
 color:#fff;
 float:left;
 height:40px;
 padding:0 10px;
 font-size:13px;
 line-height:40px;
 letter-spacing:-.3px
}
.video-content-main .vcm-left .vb-bar .watchCount i {
 margin-right:3px
}
.video-content-main .vcm-left .vb-bar .subtitleButton {
 width:auto;
 height:28px;
 float:left;
 position:relative;
 margin:6px
}
.video-content-main .vcm-left .vb-bar .subtitleButton .stTrigger {
 width:auto;
 height:28px;
 float:left;
 background:rgba(255,255,255,.1);
 color:#fff;
 font-size:12px;
 padding:0 7px;
 line-height:30px;
 position:relative;
 border-radius:2px;
 cursor:pointer
}
.video-content-main .vcm-left .vb-bar .subtitleButton .stTrigger:hover {
 background:rgba(255,255,255,.2)
}
.video-content-main .vcm-left .vb-bar .subtitleButton .stTrigger span {
 color:rgba(255,255,255,.6)
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop {
 line-height:normal;
 padding:7px;
 color:#666;
 font-size:10px;
 width:220px;
 position:absolute;
 left:-30px;
 bottom:-30px;
 background:#fff;
 visibility:hidden;
 box-shadow:0 5px 5px rgba(0,0,0,.75);
 border:1px solid #c6c6c6;
 opacity:0
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop.active {
 opacity:1;
 visibility:visible;
 bottom:30px
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop .close {
 width:16px;
 height:16px;
 line-height:16px;
 text-align:center;
 color:#fff;
 background:#bebebe;
 border-radius:50%;
 position:absolute;
 right:4px;
 cursor:pointer;
 top:4px
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop .close:hover {
 background:#b1b1b1
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop:before {
 border:solid transparent;
 margin-left:-3px;
 border-top-color:#fff;
 border-width:5px;
 bottom:-10px;
 left:50%;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.video-content-main .vcm-left .vb-bar .subtitleButton .subtitle-drop .title {
 color:#333;
 font-size:12px;
 font-weight:600
}
.video-content-main .vcm-left .vb-bar .videoButtons {
 width:auto;
 height:40px;
 float:right
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt {
 width:50px;
 height:40px;
 float:left;
 cursor:pointer;
 opacity:.5
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt.halfWatch {
 background:url(../img/halfWatch.png)
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt.fullWatch {
 background:url(../img/fullWatch.png)
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt.darkWatch {
 background:url(../img/darkWatch.png)
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt.playList {
 background:url(../img/bt-playList.png);
 display:none
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt:hover {
 opacity:.7;
 background-color:rgba(255,255,255,.05)
}
.video-content-main .vcm-left .vb-bar .videoButtons .bt.active {
 opacity:1;
 background-color:rgba(255,255,255,.1)
}
.video-content-main .vcm-left .video-nav {
 width:100%;
 height:40px;
 float:left;
 background:rgba(255,255,255,.05);
 border-radius:0 0 3px 3px
}
.video-content-main .vcm-left .video-nav .vn-bt {
 width:33%;
 float:left;
 padding:0 5px;
 line-height:40px
}
.video-content-main .vcm-left .video-nav .vn-bt:nth-child(2) {
 text-align:center
}
.video-content-main .vcm-left .video-nav .vn-bt:last-child {
 text-align:right
}
.video-content-main .vcm-left .video-nav .vn-bt:last-child a {
 padding:0;
 padding-right:18px
}
.video-content-main .vcm-left .video-nav .vn-bt:last-child a i {
 right:3px
}
.video-content-main .vcm-left .video-nav .vn-bt a {
 max-width:100%;
 display:inline-block;
 padding-left:18px;
 color:#fff;
 position:relative;
 letter-spacing:-.2px;
 opacity:.7
}
.video-content-main .vcm-left .video-nav .vn-bt a:hover {
 opacity:1
}
.video-content-main .vcm-left .video-nav .vn-bt a i {
 top:14px;
 position:absolute;
 left:3px
}
.video-shares {
 width:100%;
 height:40px;
 float:left;
 border-radius:0 0 3px 3px;
 text-align:center;
 padding:4px 0
}
.video-shares .bt {
 padding:0 10px;
 width:auto;
 height:30px;
 display:inline-block;
 color:#fff;
 background:rgba(255,255,255,.1);
 border-radius:3px;
 margin-right:5px;
 line-height:30px;
 cursor:pointer
}
.video-shares .bt.fb {
 background:#3b5998
}
.video-shares .bt.tw {
 background:#1da1f2
}
.video-shares .bt.gp {
 background:#db4437
}
.video-shares .bt:hover {
 opacity:.8
}
.video-content-main .vcm-left .subtitleSelector {
 width:100%;
 height:0;
 overflow:hidden;
 position:absolute;
 left:0;
 bottom:0;
 background:rgba(0,0,0,.7)
}
.video-content-main .vcm-left .subtitleSelector.active {
 height:100%
}
.video-content-main .vcm-left .subtitleSelector .ssContent {
 left:20px;
 top:20px;
 right:20px;
 bottom:20px;
 background:rgba(0,0,0,.4);
 border-radius:5px;
 position:absolute
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top {
 width:100%;
 height:35px;
 float:left;
 padding:0 12px;
 line-height:35px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .title {
 color:#fff;
 font-size:13px;
 font-weight:600;
 margin-right:7px;
 float:left
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .at-Check {
 width:auto;
 float:left;
 cursor:pointer;
 font-size:10px;
 color:rgba(255,255,255,.5)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .at-Check:hover {
 color:rgba(255,255,255,.7)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .at-Check:before {
 width:12px;
 height:12px;
 float:left;
 border:1px solid rgba(255,255,255,.3);
 border-radius:2px;
 content:' ';
 margin-top:10px;
 margin-right:5px;
 text-align:center;
 line-height:11px!important;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 color:#fff;
 text-rendering:auto
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .at-Check.active:before {
 content:"\f00c"
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .sst-close {
 width:18px;
 height:18px;
 float:right;
 margin-top:9px;
 margin-right:-2px;
 text-align:center;
 line-height:18px;
 background:rgba(255,255,255,.3);
 border-radius:50%;
 color:#fff;
 text-indent:.5px;
 font-size:10px;
 opacity:.5;
 cursor:pointer
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-top .sst-close:hover {
 opacity:1
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid {
 width:100%;
 position:absolute;
 left:0;
 padding:0 10px;
 top:35px;
 bottom:35px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox {
 width:32%;
 height:30px;
 float:left;
 margin:.5%;
 background:rgba(255,255,255,.1);
 border-radius:2px;
 position:relative;
 line-height:30px;
 color:#fff;
 cursor:pointer;
 padding-left:50px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox span {
 font-size:10px;
 color:rgba(255,255,255,.5)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox span a {
 color:rgba(255,255,255,.6);
 text-decoration:underline
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox span a:hover {
 color:#ff7302;
 text-decoration:none
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox:hover {
 background:rgba(255,255,255,.2)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox:before {
 width:12px;
 height:12px;
 position:absolute;
 left:7px;
 top:8px;
 content:'';
 border-radius:2px;
 border:1px solid rgba(255,255,255,.2);
 text-align:center;
 line-height:12px!important;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 color:#fff;
 text-rendering:auto
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox .lb-flag {
 width:16px;
 height:16px;
 position:absolute;
 left:27px;
 line-height:0;
 top:7px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox.active {
 background:rgba(255,255,255,.2)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-mid .languageBox.active:before {
 content:"\f00c"
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom {
 width:100%;
 height:35px;
 position:absolute;
 left:0;
 bottom:0;
 border-top:1px solid rgba(255,255,255,.1);
 padding:5px 10px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-label {
 width:auto;
 height:24px;
 float:left;
 line-height:24px;
 color:#fff;
 margin-right:5px;
 max-width:350px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-bt {
 width:auto;
 height:24px;
 float:left;
 padding:0 7px;
 color:#fff;
 line-height:24px;
 cursor:pointer;
 margin-right:10px;
 background:rgba(255,255,255,.1);
 border-radius:2px
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-bt:hover {
 background:rgba(255,255,255,.2)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-status {
 width:auto;
 float:right;
 line-height:24px;
 cursor:pointer;
 font-size:10px;
 color:rgba(255,255,255,.5)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-status:hover {
 color:rgba(255,255,255,.7)
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-status:before {
 width:12px;
 height:12px;
 float:right;
 border:1px solid rgba(255,255,255,.3);
 border-radius:2px;
 content:' ';
 margin-top:4px;
 margin-left:5px;
 text-align:center;
 line-height:11px!important;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 color:#fff;
 text-rendering:auto
}
.video-content-main .vcm-left .subtitleSelector .ssContent .ss-bottom .ssb-status.active:before {
 content:"\f00c"
}
.video-content-main .vcm-right {
 width:300px;
 float:right;
 position:absolute;
 right:0;
 bottom:0;
 height:565px
}
.video-content-main .episode-item {
 width:100%;
 height:auto;
 float:left;
 padding:10px;
 border-bottom:1px solid rgba(255,255,255,.1)
}
.video-content-main .episode-item:hover {
 background:rgba(255,255,255,.05)
}
.video-content-main .episode-item.passive {
 opacity:.5
}
.video-content-main .episode-item .episode-image {
 width:115px;
 height:70px;
 float:left;
 position:relative;
 overflow:hidden
}
.video-content-main .episode-item .episode-image img {
 width:100%
}
.video-content-main .episode-item .episode-image .nowWatching {
 width:100%;
 height:70px;
 position:absolute;
 left:0;
 top:0;
 background:rgba(0,0,0,.8);
 text-align:center;
 line-height:70px;
 color:rgba(255,255,255,.76);
 font-size:10px;
 letter-spacing:-.2px
}
.video-content-main .episode-item .episode-right {
 padding-top:15px;
 margin-left:125px
}
.video-content-main .episode-item .episode-right .ep-title {
 width:100%;
 float:left;
 color:#fff;
 font-size:12px
}
.video-content-main .episode-item .episode-right .date {
 width:100%;
 float:left;
 color:rgba(255,255,255,.5)
}
.black-filter {
 width:100%;
 height:100%;
 position:fixed;
 left:0;
 top:0;
 background:rgba(0,0,0,.9);
 z-index:9999;
 display:none;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s
}
.black-filter.show {
 display:block
}
.black-filter:hover {
 background:rgba(0,0,0,.6)
}
.share-bts {
 width:100%;
 float:left
}
.share-bts .bt {
 padding:0 10px;
 width:auto;
 height:30px;
 float:left;
 color:#fff;
 background:rgba(255,255,255,.1);
 border-radius:2px;
 margin-right:5px;
 line-height:30px;
 cursor:pointer
}
.share-bts .bt:hover {
 background:rgba(255,255,255,.2)
}
.profile-top {
 width:100%;
 height:220px;
 float:left;
 background:rgba(0,0,0,.4);
 margin-top:-10px;
 position:relative;
 text-align:center
}
.profile-top .profile-image {
 width:110px;
 height:110px;
 position:relative;
 display:inline-block;
 margin-top:10px
}
.profile-top .profile-image .pimg {
 width:110px;
 height:110px;
 float:left;
 overflow:hidden;
 position:absolute;
 left:0;
 top:0;
 border-radius:50%
}
.profile-top .profile-image .pimg img {
 width:100%
}
.profile-top .profile-image .chartDrop {
 width:150px;
 position:absolute;
 right:-170px;
 background:rgba(255,255,255,.05);
 padding:4px 10px;
 font-weight:600;
 letter-spacing:-.5px;
 font-size:12px;
 color:#999;
 text-align:left;
 top:-5px;
 border-radius:0 3px 3px 3px;
 -webkit-transform:perspective(300px) rotateY(90deg);
 -ms-transform:perspective(300px) rotateY(90deg);
 -moz-transform:perspective(300px) rotateY(90deg);
 transform:perspective(300px) rotateY(90deg);
 transform-origin:0 40px;
 -webkit-transition:.6s;
 -moz-transition:.6s;
 -o-transition:.6s;
 transition:.6s
}
.profile-top .profile-image .chartDrop.active {
 -webkit-transform:rotateY(0);
 -ms-transform:rotateY(0);
 -moz-transform:rotateY(0);
 transform:rotateY(0);
 -webkit-transition-delay:.8s;
 transition-delay:.8s
}
.profile-top .profile-image .chartDrop:before {
 border:solid transparent;
 border-right-color:rgba(255,255,255,.05);
 border-width:5px;
 left:-10px;
 top:5px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.profile-top .profile-image .chartDrop ul li {
 width:100%;
 margin:1px 0;
 float:left;
 text-shadow:1px 1px #000;
 color:#999!important;
 position:relative
}
.profile-top .profile-image .chartDrop ul li:before {
 width:6px;
 height:6px;
 float:left;
 content:' ';
 border-radius:50%;
 margin:5px 5px 0 0
}
.profile-top .profile-image .chartDrop ul li:nth-child(1):before {
 background:#d93d59
}
.profile-top .profile-image .chartDrop ul li:nth-child(2):before {
 background:#4b76c4
}
.profile-top .profile-image .chartDrop ul li:nth-child(3):before {
 background:#4f8c81
}
.profile-top .profile-image .chartDrop ul li:nth-child(4):before {
 background:#f29544
}
.profile-top .profile-image .chartDrop ul li:nth-child(5):before {
 background:#d95436
}
.profile-top .profile-image .chartDrop ul li:nth-child(6):before {
 background:#23b4a6
}
.profile-top .profile-image .chartDrop ul li:nth-child(7):before {
 background:#68b465
}
.profile-top .p-details {
 width:100%;
 height:auto;
 float:left;
 text-align:center;
 margin-top:10px;
 color:rgba(255,255,255,.5)
}
.profile-top .p-details span {
 font-size:14px;
 color:#fff
}
.profile-top .p-details a {
 color:rgba(255,255,255,.5)
}
.profile-top .p-details a:hover {
 text-decoration:underline
}
.profile-top .p-bts {
 width:100%;
 left:0;
 margin-top:10px;
 float:left
}
.profile-top .p-bts .p-bt {
 width:auto;
 height:30px;
 display:inline-block;
 line-height:30px;
 color:#fff;
 margin:0 3px;
 padding:0 12px;
 border-radius:2px;
 background:rgba(255,255,255,.1);
 cursor:pointer
}
.profile-top .p-bts .p-bt:hover {
 background:rgba(255,255,255,.2)
}
.profile-top .p-bts .p-bt.active {
 opacity:.7
}
.profile-nav {
 width:100%;
 height:50px;
 float:left;
 text-align:center;
 background:rgba(255,255,255,.05);
 border-bottom:1px solid rgba(255,255,255,.1);
 margin-bottom:10px
}
.profile-nav a {
 width:auto;
 display:inline-block;
 padding:0 20px;
 color:#fff;
 font-size:14px;
 line-height:50px;
 height:50px;
 opacity:.5;
 position:relative
}
.profile-nav a:hover {
 opacity:1
}
.profile-nav a.active {
 opacity:1
}
.profile-nav a.active:before {
 border:solid transparent;
 border-top-color:rgba(255,255,255,.2);
 border-width:5px;
 left:50%;
 bottom:-10px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.episode-box {
 width:100%;
 height:auto;
 float:left;
 border-bottom:1px solid rgba(255,255,255,.1);
 padding-bottom:10px;
 margin-bottom:10px
}
.episode-box:last-child {
 border:none;
 margin:0;
 padding:0
}
.episode-box .eb-image {
 width:140px;
 height:85px;
 float:left;
 overflow:hidden
}
.episode-box .eb-image img {
 width:100%
}
.episode-box .eb-right {
 width:100px;
 float:right;
 text-align:right;
 font-size:10px;
 color:rgba(255,255,255,.5);
 padding-top:20px
}
.episode-box .eb-center {
 padding-top:10px;
 margin-left:150px;
 margin-right:110px
}
.episode-box .eb-center .serie {
 width:100%;
 float:left;
 font-size:11px;
 color:rgba(255,255,255,.7)
}
.episode-box .eb-center .serie:hover {
 color:#fff
}
.episode-box .eb-center .episode {
 width:100%;
 float:left;
 font-size:15px;
 color:#fff
}
.episode-box .eb-center .episode:hover {
 color:#ff7302
}
.episode-box .eb-center .date {
 width:100%;
 height:auto;
 float:left;
 font-size:10px;
 color:rgba(255,255,255,.5)
}
.general-null {
 width:100%;
 height:auto;
 float:left;
 text-align:center;
 color:#fff;
 border:2px dashed rgba(255,255,255,.3);
 margin:40px 0;
 padding:30px 10px;
 color:rgba(255,255,255,.3)
}
.general-null i {
 font-size:30px
}
.settings-table {
 width:100%;
 margin:5px 0 15px;
 float:left
}
.settings-table tr td {
 padding:7px 5px;
 color:#fff;
 vertical-align:middle
}
.settings-table .settings-cover {
 width:100%;
 float:left;
 overflow:hidden
}
.settings-table .settings-cover img {
 width:100%
}
.settings-table .settings-profile {
 width:140px;
 height:140px;
 float:left;
 overflow:hidden;
 margin-right:10px;
 border-radius:50%
}
.settings-table .settings-profile img {
 width:100%
}
.settings-table .text {
 width:100%;
 height:auto;
 float:left;
 color:#666;
 margin:10px 0
}
.settings-table .settings-upload {
 width:auto;
 height:30px;
 float:left;
 background:#282828;
 border-radius:2px;
 cursor:pointer;
 color:#fff;
 padding:0 12px;
 line-height:30px;
 overflow:hidden
}
.settings-table .settings-upload:hover {
 opacity:.9
}
.w-center {
 width:500px;
 margin:0 auto
}
.local-loading {
 width:100%;
 height:100%;
 position:absolute;
 left:0;
 top:0;
 overflow:hidden;
 background:rgba(21,21,28,.7);
 z-index:999
}
.local-loading.haveFloat {
 height:120px;
 float:left;
 position:relative;
 left:auto;
 top:auto;
 background:0 0
}
.local-loading:Before {
 width:60px;
 height:60px;
 position:absolute;
 left:50%;
 top:50%;
 background:url(../img/loading-chat.gif) center;
 margin:-30px;
 content:' ';
 border-radius:50%
}
ul.pagination {
 width:100%;
 float:left;
 margin:10px 0;
 text-align:center
}
ul.pagination li {
 display:inline-block
}
ul.pagination li a {
 width:auto;
 height:30px;
 float:left;
 color:#fff;
 font-size:15px;
 line-height:30px;
 padding:0 10px;
 border-radius:2px;
 background:rgba(255,255,255,.1)
}
ul.pagination li a:hover {
 background:rgba(255,255,255,.2)
}
ul.pagination li.active a {
 background:linear-gradient(#ff7302,#ff251a);
 color:#fff
}
.chart {
 width:140px;
 height:140px;
 float:left;
 margin:-15px
}
.pieTip {
 position:absolute;
 float:left;
 min-width:30px;
 max-width:300px;
 padding:5px 18px 6px;
 border-radius:2px;
 background:rgba(255,255,255,.97);
 color:#444;
 font-size:19px;
 text-shadow:0 1px 0 #fff;
 text-transform:uppercase;
 text-align:center;
 line-height:1.3;
 letter-spacing:.06em;
 box-shadow:0 0 3px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.5);
 -webkit-transform:all .3s;
 -moz-transform:all .3s;
 -ms-transform:all .3s;
 -o-transform:all .3s;
 transform:all .3s;
 pointer-events:none
}
.pieTip:after {
 position:absolute;
 left:50%;
 bottom:-6px;
 content:"";
 height:0;
 margin:0 0 0 -6px;
 border-right:5px solid transparent;
 border-left:5px solid transparent;
 border-top:6px solid rgba(255,255,255,.95);
 line-height:0
}
.chart path {
 cursor:pointer
}
.sd-nav {
 width:100%;
 height:auto;
 float:left;
 overflow:hidden;
 background:rgba(255,255,255,.1)
}
.sd-nav a {
 height:35px;
 float:left;
 padding:0 10px;
 line-height:35px;
 color:rgba(255,255,255,.5)
}
.sd-nav a:hover {
 background:rgba(255,255,255,.1);
 color:rgba(255,255,255,.8)
}
.sd-nav a.active {
 color:#fff;
 background:rgba(255,255,255,.2);
 position:relative
}
.sd-nav a.active:before {
 border:solid transparent;
 border-top-color:rgba(255,255,255,.5);
 border-width:5px;
 left:50%;
 margin-left:-2.5px;
 bottom:-3px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.feed-item {
 width:100%;
 height:auto;
 float:left;
 position:relative;
 z-index:9;
 margin:10px 0
}
.feed-item .fi-image {
 width:50px;
 height:50px;
 float:left;
 overflow:hidden;
 border-radius:50%
}
.feed-item .fi-image img {
 width:100%
}
.feed-item .fi-right {
 margin-left:60px
}
.feed-item .fi-right .fir-ct {
 width:100%;
 height:auto;
 float:left;
 padding:15px;
 background:rgba(255,255,255,.05);
 border-radius:3px;
 color:rgba(255,255,255,.7);
 border-radius:0 3px 3px 3px;
 position:relative
}
.feed-item .fi-right .fir-ct:before {
 width:18px;
 height:18px;
 position:absolute;
 left:-18px;
 top:0;
 content:' '
}
.feed-item .fir-title {
 width:100%;
 height:auto;
 float:left;
 padding-bottom:5px;
 margin-bottom:10px;
 border-bottom:1px solid rgba(255,255,255,.1);
 font-size:13px
}
.feed-item .fir-title a {
 color:#fff
}
.feed-item .fir-title a:hover {
 color:#ff7302
}
.feed-item .date {
 color:rgba(255,255,255,.5);
 font-size:11px;
 font-weight:300
}
.feed-item .episode-box {
 margin:0;
 border:none;
 padding:0
}
.feed-item .fir-bottom {
 width:100%;
 height:auto;
 float:left;
 padding-top:10px;
 margin-top:10px;
 border-top:1px solid rgba(255,255,255,.1);
 font-size:13px
}
.feed-item .fir-bottom .fb-bt {
 float:left;
 margin-right:15px;
 cursor:pointer
}
.feed-item .fir-bottom .fb-bt:hover {
 color:#fff
}
.feed-item .fir-bottom .fb-bt.active {
 color:#ff7302
}
.feed-item .fir-bottom .fb-right {
 float:right;
 font-size:11px;
 margin-top:3px;
 color:rgba(255,255,255,.3)
}
.feed-item .fir-bottom .fb-right span {
 cursor:pointer
}
.feed-item .fir-bottom .fb-right span:hover {
 color:#fff
}
.feed-item .fir-comments {
 width:100%;
 height:auto;
 float:left;
 margin-top:10px;
 border-top:2px solid rgba(255,255,255,.1)
}
.feed-item .fir-create {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0;
 padding-bottom:10px;
 position:relative;
 border-bottom:1px solid rgba(255,255,255,.1)
}
.feed-item .fir-image {
 width:40px;
 height:40px;
 float:left;
 border-radius:50%;
 overflow:hidden
}
.feed-item .fir-image img {
 width:100%
}
.feed-item .fir-right {
 margin-left:50px
}
.feed-item .fir-right .pbc-textarea {
 width:100%;
 height:50px;
 float:left;
 color:#fff;
 font-family:Montserrat;
 padding:5px;
 border-radius:0 3px 3px 3px;
 background:rgba(255,255,255,.1);
 border:1px solid rgba(255,255,255,.2)
}
.feed-item .fir-right .fir-bt {
 width:auto;
 height:25px;
 background:linear-gradient(#ff7302,#ff251a);
 border:none;
 color:#fff;
 font-family:Montserrat;
 font-size:10px;
 border-radius:3px 0 1px 0;
 position:absolute;
 right:1px;
 bottom:11px
}
.feed-item .fir-right .fir-bt:hover {
 opacity:.9
}
.feed-item .fir-item {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0;
 padding-bottom:10px;
 border-bottom:1px solid rgba(255,255,255,.05)
}
.feed-item .fir-item a.fir-user {
 color:#fff
}
.feed-item .fir-item p {
 color:rgba(255,255,255,.5);
 font-size:10px
}
.feed-item .fir-all {
 width:100%;
 height:auto;
 float:left;
 text-align:center;
 color:rgba(255,255,255,.5);
 font-size:10px;
 cursor:pointer
}
.feed-item .fir-all:hover {
 color:#fff
}
.feed-item .feed-comment {
 width:100%;
 height:auto;
 float:left;
 margin:5px 0
}
.feed-item .feed-comment .fc-top {
 width:100%;
 height:auto;
 float:left;
 margin-bottom:8px
}
.feed-item .feed-comment .fc-top a {
 color:#fff;
 font-size:13px
}
.feed-item .feed-comment .fc-comment {
 width:100%;
 height:auto;
 float:left;
 padding:7px;
 background:rgba(255,255,255,.1);
 color:#fff;
 border-radius:3px;
 position:relative
}
.feed-item .feed-comment .fc-comment:before {
 border:solid transparent;
 border-bottom-color:rgba(255,255,255,.1);
 border-width:5px;
 left:10px;
 top:-10px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.feed-item .feed-users {
 width:100%;
 float:left
}
.feed-item .feed-users .feed-user {
 width:14.6%;
 margin:1%;
 float:left
}
.feed-item .feed-users .feed-user .fu-image {
 height:90px;
 float:left;
 overflow:hidden;
 width:100%
}
.feed-item .feed-users .feed-user .fu-image img {
 width:100%
}
.feed-item .feed-users .feed-user .fu-follow {
 width:100%;
 height:22px;
 float:left;
 text-align:center;
 color:#fff;
 line-height:22px;
 background:rgba(255,255,255,.1);
 border-radius:0 0 2px 2px;
 cursor:pointer
}
.feed-item .feed-users .feed-user .fu-follow:hover {
 background:rgba(255,255,255,.2)
}
.feed-item .feed-users .feed-user .fu-follow.active {
 opacity:.5
}
.chatTrigger {
 width:200px;
 height:30px;
 padding:0 7px;
 color:#fff;
 font-size:12px;
 line-height:30px;
 position:fixed;
 z-index:999;
 right:0;
 border-radius:2px;
 bottom:0;
 background:linear-gradient(#041b5e,#04184b);
 cursor:pointer;
 box-shadow:0 0 12px #000
}
.main.havePopular .chatTrigger {
 right:300px
}
.chatTrigger:hover {
 opacity:.9
}
.chatTrigger.hide,
.main.havePopular .chatTrigger.hide {
 right:-220px
}
.cl-activity .ca-type {
 width:16px;
 height:16px;
 float:left;
 color:#ff7302;
 text-align:center;
 line-height:14px
}
.cl-activity .ca-right {
 margin-left:20px;
 color:rgba(255,255,255,.7)
}
.cl-activity .ca-right a {
 color:#ff7302
}
.cl-activity .ca-right a:hover {
 text-decoration:underline
}
.comment-box {
 width:100%;
 height:auto;
 float:left;
 padding-bottom:10px;
 border-bottom:1px solid rgba(255,255,255,.1);
 margin:10px 0
}
.comment-box .cb-point {
 width:20px;
 float:left;
 margin-top:-5px;
 margin-right:5px
}
.comment-box .cb-point .cbp-bt {
 margin:0 2px;
 width:16px;
 height:16px;
 float:left;
 text-align:center;
 line-height:18px;
 cursor:pointer;
 font-size:10px;
 border-radius:2px
}
.comment-box .cb-point .cbp-bt:hover {
 background:rgba(255,255,255,.1)
}
.comment-box .cb-point .cbp-bt.active {
 background:rgba(255,255,255,.1)
}
.comment-box .cb-point .cbp-bt.passive {
 opacity:.4;
 cursor:default
}
.comment-box .cb-point .cbp-bt.passive:hover {
 background:0 0
}
.comment-box .cb-point .cbp-label {
 width:20px;
 float:left;
 text-align:center;
 font-size:10px;
 line-height:18px
}
.comment-box .cb-point .cbp-label.up {
 color:#26b926
}
.comment-box .cb-image {
 width:40px;
 height:40px;
 float:left;
 overflow:hidden;
 border-radius:50%
}
.comment-box .cb-image img {
 width:100%
}
.comment-box .cb-text {
 margin-left:60px
}
.comment-box .cb-text p {
 font-size:12px;
 color:rgba(255,255,255,.8)
}
.comment-box .cb-user {
 width:100%;
 font-size:14px;
 float:left;
 margin-left:-8px
}
.comment-box .cb-user a {
 color:#fff
}
.comment-box .cb-user a:hover {
 color:#ff7302
}
.comment-box .time {
 color:rgba(255,255,255,.3);
 font-size:10px
}
.comment-box .cb-stars {
 width:100%;
 height:auto;
 float:left;
 margin-bottom:5px
}
.comment-box .cb-stars .cbs {
 width:auto;
 float:left;
 margin-right:3px;
 opacity:.5
}
.comment-box .cb-stars .cbs.active {
 opacity:1;
 color:#ff3f12
}
.create-comment {
 width:100%;
 height:auto;
 float:left;
 padding-bottom:10px;
 margin:10px 0
}
.commentTitle {
 width:100%;
 float:left;
 color:#fff;
 font-size:15px;
 margin:10px 0;
 border-bottom:1px solid rgba(255,255,255,.1);
 padding-bottom:10px
}
.commentNewBox {
 width:100%;
 float:left;
 margin:12px 0
}
.commentNewBox .cnbImage {
 width:38px;
 height:38px;
 float:left;
 border-radius:50%;
 overflow:hidden
}
.commentNewBox .cnbImage img {
 width:100%
}
.commentNewBox .cnbRight {
 margin-left:48px
}
.commentNewBox .cnbRight .cnbCommBox {
 width:auto;
 float:left;
 max-width:100%;
 background:rgba(255,255,255,.1);
 padding:10px;
 font-size:13px;
 border-radius:10px;
 position:relative;
 color:rgba(255,255,255,.7);
 word-break:break-word
}
.commentNewBox .cnbRight .cnbDate {
 width:100%;
 float:left;
 margin-top:3px;
 font-size:10px;
 color:rgba(255,255,255,.3)
}
.commentNewBox .cnbRight .cnbCommBox:before {
 border:solid transparent;
 border-right-color:rgba(255,255,255,.1);
 border-width:5px;
 left:-10px;
 top:14px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.commentNewBox .cnbRight .cnbCommBox a {
 color:#ff7302
}
.commentNewBox .cnbRight .cnbCommBox a:hover {
 text-decoration:underline
}
.create-comment .cc-textarea {
 width:100%;
 color:#fff;
 padding:7px;
 font-family:Montserrat;
 height:100px;
 float:left;
 background:rgba(255,255,255,.05);
 border:none;
 border-radius:3px;
 outline:0
}
.create-comment .cc-stars {
 width:100%;
 height:auto;
 margin-top:5px;
 text-align:center;
 float:left
}
.create-comment .cc-stars .cbs {
 cursor:pointer;
 width:auto;
 font-size:15px;
 display:inline-block;
 margin-right:3px;
 opacity:.5
}
.create-comment .cc-stars .cbs:hover {
 opacity:1
}
.create-comment .cc-stars .cbs.active {
 opacity:1;
 color:#ff3f12
}
.create-comment .cc-bt {
 margin-top:7px;
 width:100%;
 float:left;
 text-align:center
}
.create-comment .cc-bt .auto-button {
 display:inline-block;
 float:none
}
.back-to-top {
 width:100px;
 height:50px;
 position:fixed;
 left:-100px;
 bottom:15px;
 z-index:9999;
 background:rgba(255,255,255,.1);
 font-size:12px;
 color:#fff!important;
 border-radius:0 2px 2px 0;
 text-align:center;
 padding-top:9px;
 cursor:pointer
}
.back-to-top.showTop {
 left:0
}
.back-to-top i {
 font-size:14px
}
.back-to-top:hover {
 background:rgba(255,255,255,.2)
}
.box-list-other {
 width:100%;
 float:left
}
.box-list-other .other-box {
 width:31%;
 height:195px;
 float:left;
 border-radius:3px;
 overflow:hidden;
 position:relative;
 margin:1%
}
.box-list-other .other-box .ob-image {
 width:100%;
 height:195px;
 overflow:hidden;
 float:left
}
.box-list-other .other-box .ob-image img {
 width:100%;
 margin-top:-45px
}
.box-list-other .other-box .ob-name {
 width:100%;
 height:auto;
 position:absolute;
 left:0;
 top:0;
 color:#fff;
 font-size:13px;
 padding:8px 8px 40px;
 background:-moz-linear-gradient(top,rgba(0,0,0,.72) 0,rgba(255,255,255,0) 100%);
 background:-webkit-linear-gradient(top,rgba(0,0,0,.72) 0,rgba(255,255,255,0) 100%);
 background:linear-gradient(to bottom,rgba(0,0,0,.72) 0,rgba(255,255,255,0) 100%)
}
.box-list-other .other-box .ob-bts {
 width:100%;
 height:30px;
 position:absolute;
 left:0;
 bottom:0;
 background:rgba(0,0,0,.7)
}
.box-list-other .other-box .ob-bts .ob-bt {
 width:50%;
 height:30px;
 float:left;
 border-right:1px solid rgba(255,255,255,.1);
 cursor:pointer;
 line-height:31px;
 text-align:center;
 color:#fff;
 font-size:12px
}
.box-list-other .other-box .ob-bts .ob-bt:last-child {
 border:none
}
.box-list-other .other-box .ob-bts .ob-bt:hover {
 background:rgba(255,255,255,.1)
}
.box-list-other .other-box .ob-bts .ob-bt.active {
 opacity:.5
}
.profile-comment {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0;
 padding-bottom:10px;
 border-bottom:1px solid rgba(255,255,255,.1)
}
.profile-comment .pc-image {
 width:100px;
 height:100px;
 overflow:hidden;
 float:left
}
.profile-comment .pc-image img {
 margin-top:-25px;
 width:100%
}
.profile-comment .pc-right {
 margin-left:115px
}
.profile-comment .pc-right .pc-top {
 width:100%;
 height:auto;
 float:left
}
.profile-comment .pc-right .pc-top a {
 color:#fff;
 font-size:13px
}
.profile-comment .pc-right .pc-date {
 width:100%;
 height:auto;
 float:left;
 font-size:10px;
 color:rgba(255,255,255,.5)
}
.profile-comment .pc-right .pc-comment {
 width:100%;
 height:auto;
 float:left;
 padding:7px;
 margin-top:8px;
 background:rgba(255,255,255,.1);
 color:#fff;
 border-radius:3px;
 position:relative
}
.profile-comment .pc-right .pc-comment:before {
 border:solid transparent;
 border-bottom-color:rgba(255,255,255,.1);
 border-width:5px;
 left:10px;
 top:-10px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
#username_results ul {
 width:100%;
 position:absolute;
 left:0;
 top:95px!important;
 background:rgba(255,255,255,.9);
 padding:0;
 border-radius:5px;
 box-shadow:0 0 5px rgba(0,0,0,.5)
}
#username_results ul:before {
 border:solid transparent;
 border-bottom-color:rgba(255,255,255,.9);
 border-width:5px;
 left:48px;
 top:-10px;
 content:'';
 position:absolute;
 height:0;
 width:0
}
#username_results ul li {
 width:100%;
 height:auto;
 float:left;
 border-bottom:1px solid #f1f1f1
}
#username_results ul li:last-child {
 border:none
}
#username_results ul li a {
 width:100%;
 height:auto;
 float:left;
 padding:10px;
 font-size:13px;
 color:#666!important
}
#username_results ul li a:hover {
 background:#f1f1f1
}
.ff-box {
 width:49%;
 height:70px;
 float:left;
 border-radius:35px 2px 2px 35px;
 padding:4px;
 margin:0 10px 1% 0;
 background:rgba(255,255,255,.1)
}
.ff-box:nth-child(2n) {
 margin-right:0
}
.ff-box .ffb-image {
 width:64px;
 height:64px;
 float:left;
 overflow:hidden;
 border-radius:50%
}
.ff-box img {
 width:100%
}
.ff-box .ffb-center {
 width:auto;
 height:64px;
 margin-left:74px;
 padding-top:21px
}
.ff-box .ffb-user {
 width:100%;
 float:left;
 color:#fff;
 font-size:13px;
 font-weight:600
}
.general-notice {
 width:100%;
 height:auto;
 float:left;
 padding:20px 10px;
 line-height:normal;
 text-align:center;
 background:rgba(255,255,255,.05);
 margin:10px 0;
 border:1px dashed rgba(255,255,255,.5);
 border-radius:10px;
 color:#52d852
}
.general-notice.red {
 color:#ff4d44
}
.general-notice.blue {
 color:#4f91ff
}
.top-breadcrumb {
 width:100%;
 height:40px;
 float:left;
 background:#071f32;
 margin-top:-10px;
 overflow:hidden;
 margin-bottom:10px
}
.top-breadcrumb ol {
 width:auto;
 float:left;
 height:40px
}
.top-breadcrumb ol li {
 width:auto;
 float:left;
 list-style:none;
 height:40px
}
.top-breadcrumb ol li a {
 height:40px;
 float:left;
 color:#fff;
 font-size:13px;
 line-height:40px;
 padding:0 10px;
 letter-spacing:-.7px;
 padding-left:28px;
 position:relative;
 background:#16476d
}
.top-breadcrumb ol li a:before {
 border:solid transparent;
 border-left-color:#071f32;
 border-width:20px;
 left:0;
 top:0;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.top-breadcrumb ol li a:after {
 border:solid transparent;
 border-left-color:#16476d;
 border-width:20px;
 left:-1px;
 top:0;
 content:'';
 position:absolute;
 height:0;
 width:0
}
.top-breadcrumb ol li:first-child a {
 padding:0 15px
}
.top-breadcrumb ol li:first-child a:after,
.top-breadcrumb ol li:first-child a:before {
 display:none
}
.top-breadcrumb ol li:hover a {
 background:#e66510
}
.top-breadcrumb ol li:hover+li a:after {
 border:solid transparent;
 border-left-color:#e66510;
 border-width:20px
}
.top-breadcrumb ol li:last-child a {
 background:0 0
}
.animeDetail-top {
 width:100%;
 height:450px;
 float:left;
 margin:10px 0;
 background:url(../img/topimage.png);
 position:relative
}
.animeDetail-top .animeDetailRate {
 width:100%;
 height:50px;
 position:absolute;
 left:0;
 bottom:0;
 background:rgba(255,255,255,.05);
 padding-top:7px;
 padding-right:7px;
 padding-left:230px
}
.animeDetail-top .animeDetailRate .animeDetailRate-label {
 width:auto;
 float:left;
 text-align:right;
 line-height:35px;
 color:rgba(255,255,255,.4);
 font-size:12px;
 padding-left:15px
}
.animeDetail-top .animeDetailRate .animeDetailRate-center {
 border-radius:2px;
 position:relative;
 height:35px;
 margin-left:60px;
 margin-right:100px
}
.animeDetailRate-center .scs-stars {
 width:auto;
 float:left;
 padding-top:9px
}
.animeDetailRate-center .scs-stars .scs-star {
 height:14px;
 float:left;
 line-height:14px;
 color:#aaaab3;
 cursor:pointer;
 font-size:25px;
 padding:0 2px;
 margin-top:-4px
}
.animeDetailRate-center .scs-stars .scs-star.active {
 color:#ff6f01;
 text-shadow:0 0 4px #ff6f01
}
.animeDetailRate-center .scs-stars .scs-star.voted {
 color:#fc0;
 text-shadow:0 0 4px #fc0
}
.animeDetailRate-center .scs-stars .scs-star.hover {
 color:#fff;
 text-shadow:0 0 4px #fff
}
.animeDetail-top .animeDetailRate .animeDetailRate-right {
 float:right;
 color:#fff;
 font-size:25px;
 line-height:25px;
 box-shadow:0 0 10px #ff6f01;
 background:#ff6f01;
 width:80px;
 height:80px;
 border-radius:50%;
 text-align:center;
 margin-top:-25px;
 padding-top:15px
}
.animeDetail-top .animeDetail-image {
 width:210px;
 height:auto;
 left:10px;
 bottom:10px;
 position:absolute
}
.animeDetail-top .animeDetail-image img {
 width:100%
}
.animeDetail-top .animeDetail-image .age-rating {
 position:absolute;
 right:-7px;
 bottom:-7px;
 width:45px
}
.animeDetail-top .animeDetail-tags {
 width:500px;
 position:absolute;
 right:0;
 top:0;
 padding:10px;
 text-align:right;
 color:#fff;
 font-size:12px
}
.animeDetail-top .animeDetail-tags a {
 color:#fff
}
.animeDetail-top .animeDetail-item {
 width:100%;
 height:auto;
 float:left
}
.animeDetail-top .animeDetail-language {
 margin:2px 0;
 width:50%;
 float:left;
 line-height:20px
}
.animeDetail-top .animeDetail-language .animeDetail-flag {
 width:20px;
 height:15px;
 display:inline-block;
 margin-left:3px;
 line-height:0
}
.animeDetail-top .animeDetail-details {
 position:absolute;
 left:240px;
 bottom:110px;
 right:15px;
 font-size:12px;
 letter-spacing:-.4px;
 color:rgba(255,255,255,.7);
 max-height:205px;
 overflow:hidden
}
.animeDetail-top .animeDetail-details .anime-title {
 width:100%;
 float:left;
 color:#fff;
 font-size:22px
}
.animeDetail-top .animeDetail-details .seo-title {
 width:100%;
 float:left;
 color:#fff;
 font-size:16px
}
.animeDetail-top .animeDetail-buttons {
 position:absolute;
 left:240px;
 bottom:65px;
 right:15px;
 height:35px
}
.animeDetail-top .animeDetail-buttons .animeDetail-bt {
 width:auto;
 height:35px;
 float:left;
 background:linear-gradient(#ff7302,#ff251a);
 padding:0 12px;
 line-height:35px;
 color:#fff;
 font-size:14px;
 cursor:pointer;
 margin-right:10px;
 border-radius:18px
}
.animeDetail-top .animeDetail-buttons .count {
 width:auto;
 height:20px;
 float:left;
 color:#fff;
 background:#01a3d6;
 border:2px solid rgba(255,255,255,.3);
 line-height:16px;
 padding:0 7px;
 border-radius:10px;
 box-shadow:0 3px 3px rgba(0,0,0,.4);
 margin-top:7px;
 margin-right:5px;
 position:relative;
 z-index:9;
 font-size:11px;
 margin-left:-20px;
 margin-bottom:8px
}
.animeDetail-top .animeDetail-buttons .animeDetail-bt:hover {
 opacity:.8
}
.animeDetail-top .animeDetail-buttons .animeDetail-bt.active {
 background:linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.1))
}
.video-main-new {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0
}
.video-main-new.watchDark .black-filter {
 display:block
}
.video-main-new .vmn-ct {
 width:100%;
 height:auto;
 float:left;
 position:relative;
 z-index:9999;
 background:rgba(255,255,255,.1);
 border-radius:3px
}
.video-main-new .vmn-title {
 width:100%;
 height:auto;
 float:left;
 padding:10px
}
.video-main-new .vmn-title h1 {
 width:auto;
 float:left;
 color:#fff;
 font-size:19px;
 letter-spacing:-.5px;
 text-shadow:0 0 3px #ff6f03
}
.video-main-new .vmn-buttons {
 width:100%;
 height:40px;
 float:left;
 padding:5px
}
.video-main-new .vmn-buttons .vmn-image {
 float:left;
 overflow:hidden;
 border-radius:50%;
 border:2px solid rgba(255,255,255,.3);
 width:120px;
 height:120px;
 margin-top:-5px;
 margin-left:-60px;
 margin-right:-40px
}
.video-main-new .vmn-buttons .vmn-image img {
 width:100%;
 margin-top:-15px
}
.video-main-new .vmn-buttons .bt {
 width:auto;
 height:30px;
 float:left;
 background:rgba(255,255,255,.1);
 border-radius:15px;
 line-height:30px;
 font-size:12px;
 letter-spacing:-.6px;
 color:#fff;
 padding:0 12px;
 margin-right:5px;
 cursor:pointer
}
.video-main-new .vmn-buttons .bt:hover {
 opacity:.8
}
.video-main-new .vmn-buttons .bt.light {
 font-size:10px;
 color:rgba(255,255,255,.8)
}
.video-main-new .vmn-buttons .bt.gradient {
 background:linear-gradient(#ff7302,#ff251a)
}
.video-main-new .vmn-buttons .bt.followBt {
 padding-right:18px
}
.video-main-new .vmn-buttons .count {
 width:auto;
 height:20px;
 float:left;
 color:#fff;
 background:#01a3d6;
 border:2px solid rgba(255,255,255,.3);
 line-height:16px;
 padding:0 7px;
 border-radius:10px;
 box-shadow:0 3px 3px rgba(0,0,0,.4);
 margin-top:5px;
 margin-right:5px;
 position:relative;
 z-index:9;
 font-size:11px;
 margin-left:-20px
}
.video-main-new .vmn-buttons .bt.gradient.active {
 background:rgba(255,255,255,.05)
}
.video-main-new .vmn-buttons .ap-checker {
 width:auto;
 float:left;
 margin:0 10px 0 5px
}
.customCheck {
 width:100%;
 height:auto;
 float:left;
 overflow:hidden;
 line-height:30px;
 position:relative
}
.customCheck input {
 position:absolute;
 left:-50px;
 top:-50px;
 margin-top:-6px
}
.customCheck label {
 width:100%;
 float:left;
 padding-left:30px;
 border-radius:3px;
 letter-spacing:-.2px;
 color:#fff;
 position:relative
}
.customCheck label:before {
 box-sizing:border-box;
 width:25px;
 height:16px;
 position:absolute;
 left:0;
 top:50%;
 margin-top:-8px;
 border-radius:8px;
 content:' ';
 background:rgba(255,255,255,.1);
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s
}
.customCheck label:after {
 box-sizing:border-box;
 width:12px;
 height:12px;
 position:absolute;
 left:2px;
 top:50%;
 margin-top:-6px;
 border-radius:8px;
 content:' ';
 background:linear-gradient(#fff,#dfdfdf);
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s
}
.customCheck input:checked+label:before {
 background:#33af48
}
.customCheck.blue input:checked+label:before {
 background:#5dd8ee
}
.customCheck input:checked+label:after {
 left:11px
}
.video-main-new .vmn-player {
 width:100%;
 height:592px;
 float:left;
 position:relative
}
.video-main-new .vmn-player .vmn-video {
 width:100%;
 height:592px;
 position:absolute;
 left:0;
 top:0;
 background:#000;
 z-index:99;
 -webkit-transition:.4s;
 -moz-transition:.4s;
 -o-transition:.4s;
 transition:.4s
}
.video-main-new .vmn-player .vmn-video .vvEpisodes {
 width:150px;
 height:35px;
 position:absolute;
 right:103px;
 bottom:-40px;
 background:#ff6b04;
 background:-moz-linear-gradient(top,rgba(255,107,4,1) 0,rgba(255,21,31,1) 71%,rgba(104,9,13,1) 100%);
 background:-webkit-linear-gradient(top,rgba(255,107,4,1) 0,rgba(255,21,31,1) 71%,rgba(104,9,13,1) 100%);
 background:linear-gradient(to bottom,rgba(255,107,4,1) 0,rgba(255,21,31,1) 71%,rgba(104,9,13,1) 100%);
 text-align:center;
 border-radius:3px 3px 0 0;
 line-height:35px;
 color:#fff;
 cursor:pointer;
 font-size:13px
}
.video-main-new .vmn-player .vmn-video .vvEpisodes:hover {
 opacity:.8
}
.video-main-new .vmn-player .vmn-list {
 width:30%;
 height:0;
 position:absolute;
 left:35%;
 top:1%;
 z-index:9;
 background:rgba(0,0,0,.3);
 border-radius:10px;
 padding:10px;
 -webkit-transition:.4s;
 -moz-transition:.4s;
 -o-transition:.4s;
 transition:.4s
}
.video-main-new .ep-list {
 width:100%;
 float:left;
 margin-top:250px
}
.video-main-new .ep-list li {
 width:100%;
 float:left;
 padding:10px 110px 10px 35px;
 position:relative;
 border-radius:5px;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s;
 color:rgba(255,255,255,.7);
 font-size:11px;
 font-weight:300
}
.video-main-new .ep-list li a {
 color:#fff;
 font-size:14px
}
.video-main-new .ep-list li a:hover {
 color:#ff7302
}
.video-main-new .ep-list li .epCheck {
 position:absolute;
 left:10px;
 top:50%;
 margin-top:-8px
}
.video-main-new .ep-list li .watch-bt {
 width:90px;
 height:30px;
 position:absolute;
 right:10px;
 top:50%;
 font-size:12px;
 margin-top:-15px;
 background:linear-gradient(#ff7302,#ff251a);
 border-radius:15px;
 line-height:30px;
 text-align:center;
 color:#fff!important;
 opacity:0;
 -webkit-transition:.2s;
 -moz-transition:.2s;
 -o-transition:.2s;
 transition:.2s
}
.video-main-new .ep-list li:hover .watch-bt {
 opacity:1
}
.video-main-new .ep-list li .watch-bt:hover {
 opacity:.8
}
.video-main-new .ep-list li:hover {
 background:rgba(255,255,255,.1)
}
.video-main-new .ep-list li.watching {
 background:rgba(255,255,255,.05)
}
.video-main-new .ep-list li.watching .watch-bt {
 background:rgba(255,255,255,.2);
 opacity:1
}
.video-main-new .vmn-player.showList .vmn-video {
 -webkit-transform:perspective(1100px) rotateX(70deg) rotateX(65deg) scale(.9);
 -ms-transform:perspective(1100px) rotateX(70deg) rotateX(65deg) scale(.9);
 -moz-transform:perspective(1100px) rotateX(70deg) rotateX(65deg) scale(.9);
 transform:perspective(1100px) rotateX(65deg) scale(.9);
 box-shadow:0 30px 50px rgba(0,0,0,.5);
 top:-30%;
 opacity:.8
}
.video-main-new .vmn-player.showList .vmn-list {
 width:98%;
 left:1%;
 height:98%
}
.episode-anime-detail {
 width:100%;
 float:left
}
.episode-anime-detail .ead-image {
 width:90px;
 float:left;
 overflow:hidden;
 border:4px solid rgba(255,255,255,.15);
 border-radius:50px;
 box-shadow:0 0 10px rgba(2,255,98,.29)
}
.episode-anime-detail .ead-image img {
 width:100%
}
.episode-anime-detail .ead-right {
 margin-left:100px;
 color:rgba(255,255,255,.5)
}
.episode-anime-detail .ead-right h3 {
 width:auto;
 float:left
}
.episode-anime-detail .ead-right .vvEpisodes {
 display:inline-block;
 margin-left:16px;
 cursor:pointer;
 line-height:20px
}
.episode-anime-detail .ead-right .vvEpisodes:hover {
 color:#fff
}
.episode-anime-detail .ead-right a {
 color:#fff
}
.episode-anime-detail .ead-right a.tag {
 color:#ff7302;
 background:rgba(255,255,255,.05);
 padding:0 5px;
 border-radius:3px
}
.episode-anime-detail .ead-right a.tag:hover {
 background:rgba(255,255,255,.1)
}
.episode-anime-detail .ead-right .ead-title {
 font-size:17px;
 letter-spacing:-.3px;
 color:#fff;
 color:#fff
}
.episode-anime-detail .ead-right span {
 color:#fff
}
.episode-anime-detail .ead-right .ead-desc {
 width:100%;
 float:left;
 min-height:30px;
 margin-top:5px;
 line-height:15px;
 max-height:45px;
 overflow:hidden;
 position:relative
}
.episode-anime-detail .ead-right .ead-desc .ead-more {
 width:100%;
 height:15px;
 position:absolute;
 left:0;
 bottom:0;
 background:#141727;
 text-align:center;
 color:#fff;
 cursor:pointer
}
.episode-anime-detail .ead-right .ead-desc.show {
 max-height:none
}
.episode-anime-detail .ead-right .ead-desc.show .ead-more {
 display:none
}
.commentsholder {
 margin:15px 0
}
.commentsholder a {
 font-size:12px;
 cursor:pointer;
 margin:0 5px;
 color:#999
}
.commentsholder a:hover {
 background-color:#222;
 color:#fff
}
.commentsholder a.jp-previous {
 margin-right:15px
}
.commentsholder a.jp-next {
 margin-left:15px
}
.commentsholder a.jp-current,
a.jp-current:hover {
 color:#ff4242;
 font-weight:700
}
.commentsholder a.jp-disabled,
a.jp-disabled:hover {
 color:#bbb
}
.commentsholder a.jp-current,
.commentsholder a.jp-disabled,
a.jp-current:hover,
a.jp-disabled:hover {
 cursor:default;
 background:0 0
}
.commentsholder span {
 margin:0 5px
}
.new-latest {
 width:100%;
 height:auto;
 float:left;
 margin:10px 0
}
.new-latest .nl-title {
 width:100%;
 height:auto;
 float:left;
 margin-bottom:10px
}
.new-latest .nl-title .title {
 width:auto;
 float:left;
 color:#fff;
 font-size:20px
}
.new-latest .nl-title .nl-sorter {
 width:auto;
 height:22px;
 float:right;
 background:rgba(255,255,255,.1);
 border-radius:11px;
 padding:0 4px
}
.new-latest .nl-title .nl-sorter .nls-bt {
 width:30px;
 height:22px;
 float:left;
 text-align:center;
 cursor:pointer;
 opacity:.5
}
.new-latest .nl-title .nl-sorter .nls-bt:hover {
 opacity:.7
}
.new-latest .nl-title .nl-sorter .nls-bt.active {
 opacity:1
}
.new-latest .nl-item {
 width:252px;
 height:80px;
 float:left;
 padding:2px 10px 2px 2px;
 background:rgba(255,255,255,.1);
 border-radius:3px;
 margin:0 10px 10px 0
}
.new-latest .nl-item:nth-child(4n) {
 margin-right:0
}
.new-latest .nl-item .nli-image {
 width:60px;
 height:76px;
 float:left;
 overflow:hidden
}
.new-latest .nl-item .nli-image img {
 width:100%
}
.new-latest .nl-item .nli-right {
 margin-left:70px;
 height:76px;
 overflow:hidden;
 position:relative
}
.new-latest .nl-item .nli-right .release {
 width:100%;
 height:16px;
 position:absolute;
 left:0;
 bottom:0;
 line-height:10px;
 font-size:10px;
 color:rgba(255,255,255,.3)
}
.new-latest .nl-item .nli-right .nli-ep {
 margin-top:5px;
 width:100%;
 float:left;
 max-height:39px;
 font-size:12px;
 line-height:13px;
 overflow:hidden;
 color:#fff
}
.new-latest .nl-item .nli-right .nli-ep:hover {
 color:#ff7302
}
.new-latest .nl-item .nli-right .nli-serie {
 margin-top:1px;
 width:100%;
 float:left;
 height:15px;
 line-height:15px;
 overflow:hidden;
 color:#ff7302;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
.new-latest .nl-item .nli-right .nli-serie:hover {
 opacity:.8
}
.new-latest .listNl {
 width:100%;
 float:left
}
.new-latest .listNl.listBox .nl-item {
 width:15.6%;
 margin:.5%;
 padding:0;
 background:0 0;
 height:306px
}
.new-latest .listNl.listBox .nl-item .nli-image {
 width:100%;
 height:230px;
 border:4px solid rgba(255,255,255,.2);
 border-radius:3px;
 overflow:hidden;
 background-size:100% 100%
}
.new-latest .listNl.listBox .nl-item .nli-image img {
 width:100%;
 height:100%
}
.new-latest .listNl.listBox .nl-item .nli-right {
 width:100%;
 float:left;
 margin:0
}
.new-latest .listNl.listBox .nl-item .nli-right .nli-ep {
 text-align:center
}
.new-latest .listNl.listBox .nl-item .nli-right .nli-serie {
 text-align:center
}
.new-latest .listNl.listBox .nl-item .nli-right .release {
 text-align:center
}
.new-latest .listNl.listText {
 padding:5px 10px;
 background:rgba(255,255,255,.1);
 border-radius:3px
}
.new-latest .listNl.listText .nl-item {
 width:50%;
 float:left;
 height:30px;
 overflow:hidden;
 margin:0;
 background:0 0
}
.new-latest .listNl.listText .nl-item .nli-image {
 display:none
}
.new-latest .listNl.listText .nl-item .nli-right {
 width:100%;
 float:left;
 margin:0
}
.new-latest .listNl.listText .nl-item .nli-right .nli-ep {
 width:100%;
 float:left;
 margin:0;
 line-height:30px
}
.new-latest .listNl.listText .nl-item .nli-right .nli-ep:before {
 width:20px;
 height:30px;
 float:left;
 text-align:center;
 font:normal normal normal 14px/1 FontAwesome;
 content:"\f061";
 line-height:30px;
 color:#ee6a03
}
.new-latest .listNl.overflowTitle .nl-item .nli-right .nli-ep {
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
 .main.haveChat.havePopular .new-latest .listNl.listBox .nl-item {
  width:24%
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-image {
  width:160px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-buttons,
 .main.haveChat.havePopular .animeDetail-top .animeDetail-details {
  left:180px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetailRate {
  padding-left:180px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetailRate .animeDetailRate-right {
  width:50px;
  height:50px;
  margin:-7px;
  font-size:15px;
  padding-top:6px;
  line-height:20px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetailRate .animeDetailRate-center {
  margin-right:50px
 }
 .main.haveChat.havePopular .animeDetailRate-center .scs-stars .scs-star {
  font-size:18px;
  line-height:30px
 }
}
 .main.haveChat.havePopular .animeDetail-top {
  width:100%;
  float:left;
  height:auto;
  padding:10px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-image {
  float:left;
  position:relative;
  margin:0;
  left:auto;
  bottom:auto;
  margin-bottom:10px
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-tags {
  display:none
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-details {
  margin-left:170px;
  position:static
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetail-buttons {
  width:100%;
  float:left;
  position:static;
  margin:10px 0
 }
 .main.haveChat.havePopular .animeDetail-top .animeDetailRate {
  width:100%;
  float:left;
  padding:0;
  height:36px;
  position:static
 }
 }
 .main.haveChat.havePopular .new-latest .nl-item {
  width:49%
 }
 .main.havePopular .new-latest .listNl.listBox .nl-item {
  height:246px
 }
 .new-latest .listNl.listBox .nl-item .nli-image {
  height:170px
 }
 .main.havePopular .advanced-search .as-pane .as-options ul li {
  width:32%
 }
 .main.havePopular.haveChat .advanced-search .as-pane .as-options ul li {
  width:49%
 }
 .main.havePopular .animeDetail-top .animeDetail-image {
  width:160px
 }
 .main.havePopular .animeDetail-top .animeDetail-buttons,
 .main.havePopular .animeDetail-top .animeDetail-details {
  left:180px
 }
 .main.havePopular .animeDetail-top .animeDetailRate {
  padding-left:180px
 }
 .main.havePopular .animeDetail-top .animeDetailRate .animeDetailRate-right {
  width:50px;
  height:50px;
  margin:-7px;
  font-size:15px;
  padding-top:6px;
  line-height:20px
 }
 .main.havePopular .animeDetail-top .animeDetailRate .animeDetailRate-center {
  margin-right:50px
 }
 .main.havePopular .animeDetailRate-center .scs-stars .scs-star {
  font-size:20px;
  line-height:30px
 }
 .centerAligner {
  width:100%;
  padding:0 10px
 }
 .main .new-latest .nl-item {
  width:24%;
  margin:.5%!important
 }
}
 }
 .main.havePopular .main .new-latest .nl-item {
  width:49%!important;
  margin:.5%!important
 }
 .main.havePopular .new-latest .listNl.listBox .nl-item {
  width:19%
 }
 .main.haveChat.havePopular .new-latest .listNl.listBox .nl-item {
  width:32%
 }
 }
 .main.haveChat {
  padding-right:0
 }
 .main.haveChat.havePopular {
  padding-right:300px
 }
 .main.havePopular .new-latest .listNl.listBox .nl-item {
  width:24%
 }
 .main.havePopular .new-latest .nl-item {
  width:49%;
  margin:.5%
 }
 .big-list .bl-box .bl-drop {
  display:none!important
 }
 .main.havePopular .big-list .bl-grid {
  width:33.3%
 }
 .searchModal.active .sm-content {
  padding:20px
 }
 .searchModal .sm-content .smc-results {
  left:20px;
  right:20px;
  bottom:20px;
  top:170px
 }
 .searchModal .sm-content .searchClose {
  z-index:9999
 }
 .main .advanced-search .as-pane .as-options ul li {
  width:49%!important
 }
 .main.havePopular .animeDetail-top {
  width:100%;
  float:left;
  height:auto;
  padding:10px
 }
 .main.havePopular .animeDetail-top .animeDetail-image {
  float:left;
  position:relative;
  margin:0;
  left:auto;
  bottom:auto;
  margin-bottom:10px
 }
 .main.havePopular .animeDetail-top .animeDetail-tags {
  display:none
 }
 .main.havePopular .animeDetail-top .animeDetail-details {
  margin-left:170px;
  position:static
 }
 .main.havePopular .animeDetail-top .animeDetail-buttons {
  width:100%;
  float:left;
  position:static;
  margin:10px 0
 }
 .main.havePopular .animeDetail-top .animeDetailRate {
  width:100%;
  float:left;
  padding:0;
  height:36px;
  position:static
 }
 .video-main-new .vmn-player,
 .video-main-new .vmn-player .vmn-video {
  height:350px
 }
 .main.haveChat .video-main-new .vmn-buttons .ap-checker {
  display:none
 }
 .video-main-new .ep-list {
  margin-top:130px
 }
}
 .main.havePopular .new-latest .listNl.listBox .nl-item {
  width:32.3%
 }
 .genre-col,
 .genre-right {
  width:100%;
  margin:0
 }
 .settings-table .settings-profile {
  width:80px;
  height:80px
 }
 .animeDetail-top .animeDetailRate .animeDetailRate-right {
  width:50px;
  height:50px;
  margin:-7px;
  font-size:15px;
  padding-top:6px;
  line-height:20px
 }
 .animeDetail-top .animeDetail-image {
  width:160px
 }
 .animeDetail-top .animeDetail-buttons,
 .animeDetail-top .animeDetail-details {
  left:180px
 }
 .animeDetailRate-center .scs-stars .scs-star {
  font-size:15px!important;
  line-height:30px
 }
 .animeDetail-top .animeDetailRate {
  padding-left:180px
 }
 .main .new-latest .nl-item {
  width:32.3%
 }
}
 .main {
  padding-right:0!important
 }
 .chatTrigger {
  right:0!important
 }
 .chatTrigger.hide {
  right:-300px
 }
 .main .new-latest .listNl.listBox .nl-item {
  width:19%!important;
  height:246px!important
 }
 .main .video-main-new .vmn-buttons .ap-checker {
  display:none
 }
 .video-main-new .vmn-buttons {
  height:auto
 }
 .box-list-other .other-box {
  height:100px
 }
}
@media(max-width:600px) {
 .main .new-latest .listNl.listBox .nl-item {
  width:24%!important
 }
 .searchModal .sm-content .sm-list li {
  width:50%
 }
 .profile-nav {
  height:auto
 }
 .episode-box .eb-right {
  display:none
 }
 .episode-box .eb-center {
  margin-right:0
 }
 .profile-nav a {
  height:30px;
  line-height:30px;
  padding:0 7px
 }
 .animeDetail-top {
  width:100%;
  float:left;
  height:auto;
  padding:10px
 }
 .animeDetail-top .animeDetail-tags {
  display:none
 }
 .animeDetail-top .animeDetail-image {
  float:left;
  position:relative;
  margin:0;
  left:auto;
  bottom:auto;
  margin-bottom:10px
 }
 .animeDetail-top .animeDetail-details {
  margin-left:170px;
  position:static
 }
 .animeDetail-top .animeDetail-buttons {
  width:100%;
  float:left;
  position:static;
  margin:10px 0
 }
 .animeDetail-top .animeDetailRate {
  width:100%;
  float:left;
  padding:0;
  height:36px;
  position:static
 }
 .video-shares {
  height:auto
 }
 .main .new-latest .nl-item {
  width:49%
 }
}
@media(max-width:500px) {
 .main .new-latest .listNl.listBox .nl-item {
  width:32.3%!important
 }
 .searchModal .sm-content .smc-search .smcs-input {
  font-size:37px
 }
 .searchModal .sm-content .sm-list li {
  width:100%
 }
 .advanced-search .as-trigger {
  display:none
 }
 .advanced-search {
  padding-left:0
 }
 .advanced-search .as-pane .as-options ul li {
  padding:0
 }
 .episode-box .eb-image {
  width:100px
 }
 .episode-box .eb-center {
  margin-left:110px
 }
 .feed-item .fi-image {
  display:none
 }
 .feed-item .fi-right {
  margin:0
 }
 .profile-top .profile-image {
  float:left
 }
 .profile-top .p-details {
  text-align:left
 }
@media(max-width:400px) {
 .main .animeDetail-top .animeDetail-image {
  width:100%!important;
  float:left!important
 }
 .main .animeDetail-top .animeDetail-details {
  width:100%!important;
  float:left!important;
  margin:0!important;
  max-height:none
 }
 .main .animeDetail-top .animeDetail-buttons {
  width:100%!important;
  height:auto!important
 }
 .animeDetail-top .animeDetailRate .animeDetailRate-label {
  display:none
 }
 .animeDetail-top .animeDetailRate .animeDetailRate-center {
  width:100%;
  margin:0
 }
}
@media(max-width:370px) {
 .main .new-latest .listNl.listBox .nl-item {
  width:49%!important
 }
article,
aside,
details,
figcaption,
figure,
hgroup,
nav,
section {
 display: block;
}
audio,
canvas,
video {
 display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
 display: none;
}
[hidden] {
 display: none;
}
html {
 font-size: 100%;
 -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
 font-family: sans-serif;
 color: #222;
}
body {
 margin: 0;
 font-size: 1em;
 line-height: 1.4;
}
a {
 color: #00e;
}
a:visited {
 color: #551a8b;
}
a:hover {
 color: #06e;
}
a:focus {
 outline: thin dotted;
}
a:hover,
a:active {
 outline: 0;
}
abbr[title] {
 border-bottom: 1px dotted;
}
b,
strong {
 font-weight: bold;
}
blockquote {
 margin: 1em 40px;
}
dfn {
 font-style: italic;
}
hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #ccc;
 margin: 1em 0;
 padding: 0;
}
ins {
 background: #ff9;
 color: #000;
 text-decoration: none;
}
mark {
 background: #ff0;
 color: #000;
 font-style: italic;
 font-weight: bold;
}
pre,
code,
kbd,
samp {
 font-family: monospace, serif;
 _font-family: 'courier new', monospace;
 font-size: 1em;
}
pre {
 white-space: pre;
 white-space: pre-wrap;
 word-wrap: break-word;
}
q {
 quotes: none;
}
q:before,
q:after {
 content: "";
 content: none;
}
small {
 font-size: 85%;
}
sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}
sup {
 top: -0.5em;
}
sub {
 bottom: -0.25em;
}
ul,
ol {
 margin: 1em 0;
 padding: 0 0 0 40px;
}
dd {
 margin: 0 0 0 40px;
}
nav ul,
nav ol {
 list-style: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
}
img {
 border: 0;
 -ms-interpolation-mode: bicubic;
 vertical-align: middle;
}
svg:not(:root) {
 overflow: hidden;
}
figure {
 margin: 0;
}
form {
 margin: 0;
}
fieldset {
 border: 0;
 margin: 0;
 padding: 0;
}
label {
 cursor: pointer;
}
legend {
 border: 0;
 *margin-left: -7px;
 padding: 0;
 white-space: normal;
}
button,
input,
select,
textarea {
 font-size: 100%;
 margin: 0;
 vertical-align: baseline;
 *vertical-align: middle;
}
button,
input {
 line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 cursor: pointer;
 -webkit-appearance: button;
 *overflow: visible;
}
button[disabled],
input[disabled] {
 cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
 box-sizing: border-box;
 padding: 0;
 *width: 13px;
 *height: 13px;
}
input[type="search"] {
 -webkit-appearance: textfield;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
 overflow: auto;
 vertical-align: top;
 resize: vertical;
}
input:valid,
textarea:valid {
}
input:invalid,
textarea:invalid {
 background-color: #f0dddd;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
td {
 vertical-align: top;
}
.chromeframe {
 margin: 0.2em 0;
 background: #ccc;
 color: black;
 padding: 0.2em 0;
}
@media only screen and (min-width: 35em) {
 .ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
 }
 .ir br {
  display: none;
 }
 .hidden {
  display: none !important;
  visibility: hidden;
 }
 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
 }
 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
 }
 .invisible {
  visibility: hidden;
 }
 .clearfix:before,
 .clearfix:after {
  content: "";
  display: table;
 }
 .clearfix:after {
  clear: both;
 }
 .clearfix {
  *zoom: 1;
 }
}
@media print {
 * {
  background: transparent !important;
  color: black !important;
  box-shadow:none !important;
  text-shadow: none !important;
  filter:none !important;
  -ms-filter: none !important;
 } /* Black prints faster: h5bp.com/s */
 a,
 a:visited {
  text-decoration: underline;
 }
 a[href]:after {
  content: " (" attr(href) ")";
 }
 abbr[title]:after {
  content: " (" attr(title) ")";
 }
 .ir a:after,
 a[href^="javascript:"]:after,
 a[href^="#"]:after {
  content: "";
 }  /* Don't show links for images, or javascript/internal links */
 pre,
 blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
 }
 tr,
 img {
  page-break-inside: avoid;
 }
 img {
  max-width: 100% !important;
 }
 @page {
  margin: 0.5cm;
 }
 p,
 h2,
 h3 {
  orphans: 3;
  widows: 3;
 }
 h2,
 h3 {
  page-break-after: avoid;
 }
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
 margin:0;
 padding:0;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
fieldset,
img {
 border:0;
 margin:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
}
ol,
ul {
 list-style:none;
}
caption,
th {
 text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight:normal;
}
q:before,
q:after {
 content:'';
}
abbr,
acronym {
 border:0;
}
li {
 padding:0;
}
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0
}
.clearfix {
 display: inline-block
}
html[xmlns] .clearfix {
 display: block
}
* html .clearfix {
 height: 1%
}
.unselectable {
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}
a {
 text-decoration:none;
 color:#000;
}
head {
 display:block;
}
a {
 outline:0;
}
body {
 font-family:  'Montserrat',  Arial, Helvetica, sans-serif;
 font-size:11px;
 background: url("../img/main-bg.jpg") center top no-repeat #010310;
 background-size: 100%  auto;
}
*,
input,
select {
 box-sizing: border-box;
}
.centerAligner {
 width: 1040px;
 margin: 0 auto;
}

/* Reset Tools */

.mh-full {
  width: 100%;
  float: left;
}

.mh-grid {
  width: 100%;
  float: left;
  padding: 10px;
}


.mh-grid.w1 {
  width: 10%;
}

.mh-grid.w2 {
  width: 20%;
}

.mh-grid.w3 {
  width: 30%;
}

.mh-grid.w4 {
  width: 40%;
}

.mh-grid.w5 {
  width: 50%;
}

.mh-grid.w6 {
  width: 60%;
}

.mh-grid.w7 {
  width: 70%;
}

.mh-grid.w8 {
  width: 80%;
}

.mh-grid.w9 {
  width: 90%;
}

.mh-grid.ml1 {
  margin-left: 10%;
}

.mh-grid.ml2 {
  margin-left: 20%;
}

.mh-grid.ml3 {
  margin-left: 30%;
}

.mh-grid.ml4 {
  margin-left: 40%;
}

.mh-grid.ml5 {
  margin-left: 50%;
}

.mh-grid.ml6 {
  margin-left: 60%;
}

.mh-grid.ml7 {
  margin-left: 70%;
}

.mh-grid.ml8 {
  margin-left: 80%;
}

.mh-grid.ml9 {
  margin-left: 90%;
}

.mh-grid.mr1 {
  margin-right: 10%;
}

.mh-grid.mr2 {
  margin-right: 20%;
}

.mh-grid.mr3 {
  margin-right: 30%;
}

.mh-grid.mr4 {
  margin-right: 40%;
}

.mh-grid.mr5 {
  margin-right: 50%;
}

.mh-grid.mr6 {
  margin-right: 60%;
}

.mh-grid.mr7 {
  margin-right: 70%;
}

.mh-grid.mr8 {
  margin-right: 80%;
}

.mh-grid.mr9 {
  margin-right: 90%;
}

.whiteColor {
  color: white !important;
}

.redColor {
  color: red !important;
}

.lightColor {
  color: #999 !important;
}

.midColor {
  color: #666 !important;
}

.darkColor {
  color: #333 !important;
}

.orangeColor {
  color: #FF3F12 !important;
}

.fs11 {
  font-size: 11px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

.fs26 {
  font-size: 26px !important;
}

.fs27 {
  font-size: 27px !important;
}

.fs28 {
  font-size: 28px !important;
}

.fs29 {
  font-size: 29px !important;
}

.fs30 {
  font-size: 30px !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.vm tr td {
  vertical-align: middle !important;
}

.vt tr td {
  vertical-align: top !important;
}

.vb tr td {
  vertical-align: bottom !important;
}

.vt {
  vertical-align: top !important;
}

.vm {
  vertical-align: middle !important;
}

.vb {
  vertical-align: bottom !important;
}

.p0 {
  padding: 0px !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.m0 {
  margin: 0px !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.full-table {
  width: 100%;
  height: auto;
  float: left;
}

.full-table tr td {
  padding: 5px;
}

.full-table tr td:first-child {
  padding-left: 0;
}

.full-table tr td:last-child {
  padding-right: 0;
}

/* General Tools */
/* Nano Scroller */
.nanoo,
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nanoo .nano-content,
.nano .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}

.nanoo .nano-content:focus,
.nano .nano-content:focus {
  outline: thin dotted;
}

.nanoo .nano-content::-webkit-scrollbar,
.nano .nano-content::-webkit-scrollbar {
  visibility: hidden;
}

.has-scrollbar .nano-content::-webkit-scrollbar {
  visibility: visible;
}

.nanoo > .pane,
.nano > .pane {
  background: #CCC;
  position: absolute;
  width: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nanoo > .pane > .slider,
.nano > .pane > .slider {
  background: #999;
  position: relative;
  margin: 0 0px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nanoo:hover > .pane, .pane.active, .pane.flashed,
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

/* Nano Scroller */
