/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*--reset--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clearfix {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}


.clearfix {
    clear: both;
}

/* content */

/*
  Responsive form elements
  Flexbox layout
*/

/*/////////////// GLOBAL STYLES ////////////////////*/

body {
    background: url(../images/b1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

/*-- error --*/
.contentant {
    width: 80%;
    margin: 4em auto;
}
.player_content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.content_left {
    background: #111;
    flex-basis: 180%;
    -webkit-flex-basis: 180%;
    height: 471px;
}
.back_to_index {
    margin-bottom: 2em;
}
.content_right {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
	background: #111;
	height: 471px;
    overflow-y: scroll;
}
.content_left a {
    padding: 15px 20px;
    letter-spacing: 1px;
    color: #fff;
    background: #333;
    font-size: 15px;
    text-transform: capitalize;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.content_right h3 {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin: 1em 0;
}
.content_right p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}
/* -- Responsive code -- */
@media screen and (max-width: 1366px) {
	.content {
		width: 70%;
		margin: 4em auto;
	}
}
@media screen and (max-width: 1080px) {
	.content {
		width: 80%;
		margin: 3em auto;
	}
}
@media screen and (max-width: 1024px) {
	h5 {
		font-size: 18px;
	}
	.content_right p {
		font-size: 16px;
	}
	.b-search {
		width: 100%;
	}
	h4 {
		font-size: 25px;
		letter-spacing: 7px;
		margin: .5em 0 .5em;
	}
}
@media screen and (max-width: 991px) {
	.content {
		width: 85%;
		margin: 2em auto;
	}
	
}
@media screen and (max-width: 900px) {
	.content {
		width: 90%;
	}
	.content_left p {
		letter-spacing: .5px;
		font-size: 14px;
	}
	.content_left h3 {
		font-size: 80px;
	}
}
@media screen and (max-width: 800px) {
	h1 {
		font-size: 45px;
		letter-spacing: 5px;
		margin: .8em 0;
	}
	.content {
		width: 95%;
	}
	h5 {
		font-size: 16px;
	}
}
@media screen and (max-width: 667px) {
	.player_content {
		flex-direction: column;
	}

.content_left {

      	height: 291px;
      }
      
  }
@media screen and (max-width: 414px) {

	.content_right h3 {
		font-size: 25px;
		margin: .5em 0;
	}

      .content_left {

      	height: 291px;
      }

}
/* -- //Responsive code -- */


.ep-list ul {
 list-style:none;
 padding:0
}
.ep-list ul li {
 display:block
}
.ep-list ul li a {
 display:block;
 text-overflow:ellipsis;
 overflow:hidden;
 white-space:nowrap;
    height: 45px;
    line-height: 45px;
 border-bottom:1px solid rgba(255,255,255,.05);
padding: 0px 0px 0px 40px;
 color:#aaa;
 position:relative;
}
.ep-list ul li:last-of-type a {
 border-bottom:none
}
.ep-list ul li:active {
 background: #DCF836;
}
.ep-list ul li a i {
     position: absolute;
    left: 15px;
    font-size: 18px;
}
.ep-list ul li a:hover,
.ep-list ul li.active a,
.type-movies .pas-header .pash-choose .dropdown-menu li.active a {
 background:rgba(255,255,255,.03)!important;
 color:#fff
}
.ep-list ul li a:hover i:before {
 color:#DCF836;
}
.ep-list ul li.active a i:before {
 color: #DCF836;
}
.ep-list ul li.active a {
 padding-left: 50px;
}
.ep-list ul li.active a:after,
.vid-server {
position: absolute; 
top: 300px; 
left: 962px; 
right: 99px; 
bottom: -145px;
overflow-y: scroll;
}
.content-right{
::-webkit-scrollbar
{
	width: 8px;
}
::-webkit-scrollbar-thumb
{
	background: #DCF836;
	border-radius: 3px;
}
}