.projects-container {
 background:rgba(0,0,0,.75);
 height:100vh;
 width:100vw;
 position:relative;
 overflow-x:hidden;
 -webkit-overflow-scrolling:touch
}
.projects-container ul {
 margin:0;
 padding:0
}
.projects-container .cd-single-project {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:25%;
 overflow:hidden;
 cursor:pointer;
 -webkit-transition:-webkit-transform 0.4s;
 -moz-transition:-moz-transform 0.4s;
 transition:transform 0.4s;
 -webkit-transform:translateX(-100%);
 -moz-transform:translateX(-100%);
 -ms-transform:translateX(-100%);
 -o-transform:translateX(-100%);
 transform:translateX(-100%)
}
.projects-container .cd-single-project:after {
 content:'';
 position:absolute;
 top:0;
 left:0;
 height:100vh;
 width:100%;
 background-repeat:no-repeat!important;
 background-size:cover!important;
 -webkit-transition:opacity 0.5s,height 0.4s;
 -moz-transition:opacity 0.5s,height 0.4s;
 transition:opacity 0.5s,height 0.4s
}
.projects-container .cd-single-project:hover:after {
 transform:scale(1.05,1.05)
}
.projects-container .cd-single-project.is-full-width:after,
.projects-container.project-is-open .cd-single-project:after {
 height:0;
 opacity:0!important
}
.projects-container .cd-single-project:before {
 content:'';
 position:absolute;
 top:0;
 left:0;
 height:100vh;
 width:100%;
 background-repeat:no-repeat!important;
 background-size:cover;
 opacity:0;
 z-index:-1;
 -webkit-transition:opacity 0.5s,height 0.4s;
 -moz-transition:opacity 0.5s,height 0.4s;
 transition:opacity 0.5s,height 0.4s
}
.projects-container .cd-single-project.is-full-width:before {
 opacity:1;
 z-index:1
}
.projects-container .cd-single-project:nth-of-type(2) {
 top:25vh
}
.projects-container .cd-single-project:nth-of-type(3) {
 top:50vh
}
.projects-container .cd-single-project:nth-of-type(4) {
 top:75vh
}
.projects-container .cd-single-project.is-loaded {
 -webkit-transform:translateX(0);
 -moz-transform:translateX(0);
 -ms-transform:translateX(0);
 -o-transform:translateX(0);
 transform:translateX(0)
}
.projects-container .cd-single-project.is-full-width {
 top:0;
 height:100vh;
 z-index:1;
 cursor:auto;
 -webkit-transition:z-index 0s 0s,top 0.4s 0s;
 -moz-transition:z-index 0s 0s,top 0.4s 0s;
 transition:z-index 0s 0s,top 0.4s 0s
}
.projects-container .cd-single-project.is-full-width:after {
 height:100vh
}
@media only screen and (min-width:1024px) {
 .projects-container .cd-single-project {
  width:25vw;
  height:100%;
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  -ms-transform:translateX(0);
  -o-transform:translateX(0);
  transform:translateX(0);
  -webkit-transition:width .5s;
  -moz-transition:width .5s;
  transition:width .5s
 }
 .projects-container .cd-single-project:first-of-type:after {
  background-image:url(/wp-content/themes/shopaholic-wp/images/home05/banner/1.jpg)
 }
 .projects-container .cd-single-project:nth-of-type(2) {
  top:0;
  left:25vw
 }
 .projects-container .cd-single-project:nth-of-type(2):after {
  background:url(/wp-content/themes/shopaholic-wp/images/home05/banner/2.jpg)
 }
 .projects-container .cd-single-project:nth-of-type(3) {
  top:0;
  left:50vw
 }
 .projects-container .cd-single-project:nth-of-type(3):after {
  background:url(/wp-content/themes/shopaholic-wp/images/home05/banner/3.jpg)
 }
 .projects-container .cd-single-project:nth-of-type(4) {
  top:0;
  left:75vw
 }
 .projects-container .cd-single-project:nth-of-type(4):after {
  background:url(/wp-content/themes/shopaholic-wp/images/home05/banner/4.jpg)
 }
 .projects-container .cd-single-project.is-loaded {
  opacity:1
 }
 .projects-container .cd-single-project.is-full-width {
  left:0vw;
  width:100vw;
  -webkit-transition:width 0.4s 0s,z-index 0s 0s,left 0.4s 0s;
  -moz-transition:width 0.4s 0s,z-index 0s 0s,left 0.4s 0s;
  transition:width 0.4s 0s,z-index 0s 0s,left 0.4s 0s
 }
 .cd-title .item-title {
  font-size:22px;
  width:200px
 }
 .projects-container .cd-single-project:after {
  background-position:center center
 }
}
@media only screen and (min-width:768px) {
 .projects-container .cd-single-project:after {
  -webkit-transition:-webkit-transform 0.8s,opacity 0.5s;
  -moz-transition:-moz-transform 0.8s,opacity 0.5s;
  transition:transform 0.8s,opacity 0.5s
 }
 .no-touch .projects-container .cd-single-project:hover:after,
 .projects-container .cd-single-project.is-full-width.is-loaded:after {
  opacity:1
 }
}
.cd-title {
 display:inline-block;
 height:100%;
 width:100%
}
.cd-title:before {
 content:'';
 background:rgba(0,0,0,.5);
 position:absolute;
 height:100%;
 width:100%;
 top:0;
 left:0;
 z-index:1
}
.is-full-width .cd-title:before {
 background:rgba(0,0,0,.25)
}
.content-details {
 position:absolute;
 z-index:1;
 left:50%;
 top:50%;
 width:100%;
 text-align:center;
 -webkit-transform:translate(-50%,-50%);
 -moz-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.cd-title .item-title {
 background:transparent;
 border-top:4px solid #fff;
 border-bottom:4px solid #fff;
 color:#fff;
 font-size:33px;
 font-weight:700;
 width:270px;
 line-height:65px;
 margin:0 auto;
 padding:0;
 text-align:center;
 text-transform:uppercase
}
.cd-single-project.is-full-width .cd-title .item-title {
 display:none
}
.cd-title .expand-content {
 display:none
}
.cd-single-project.is-full-width .cd-title .expand-content {
 display:inline-block;
 padding:0 15px;
 width:100%
}
.cd-title .main-title {
 color:#fff;
 font-size:45px;
 padding-bottom:10px;
 text-transform:uppercase
}
.cd-title .sub-title {
 color:#fff;
 font-size:33px
}
.cd-title p {
 color:#fff;
 max-width:570px;
 margin:0 auto;
 padding:25px 0 35px
}
.cd-title .btn {
 background:#fff;
 color:#333
}
.is-full-width .cd-title {
 top:50vh;
 -webkit-transition:opacity 0s,top 0.4s;
 -moz-transition:opacity 0s,top 0.4s;
 transition:opacity 0s,top 0.4s
}
.cd-title>* {
 text-shadow:0 1px 4px rgba(0,0,0,.2);
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.cd-project-info {
 clear:both;
 visibility:hidden;
 opacity:0;
 margin-top:100vh;
 padding:4em 0;
 cursor:auto;
 background-color:#fff;
 color:#3f538e;
 -webkit-transition:opacity 0.4s 0s,visibility 0s 0.4s;
 -moz-transition:opacity 0.4s 0s,visibility 0s 0.4s;
 transition:opacity 0.4s 0s,visibility 0s 0.4s
}
.is-full-width .cd-project-info {
 visibility:visible;
 opacity:1
}
.cd-project-info p {
 width:90%;
 max-width:800px;
 margin:0 auto;
 line-height:2
}
@media only screen and (min-width:768px) {
 .cd-project-info {
  position:relative;
  z-index:1
 }
}
.projects-container .cd-close,
.projects-container .cd-scroll {
 display:block;
 z-index:1;
 width:44px;
 height:44px;
 overflow:hidden;
 white-space:nowrap;
 visibility:hidden;
 -webkit-transition:-webkit-transform 1s 0s,visibility 0s 1s;
 -moz-transition:-moz-transform 1s 0s,visibility 0s 1s;
 transition:transform 1s 0s,visibility 0s 1s
}
.projects-container .cd-close {
 color:#fff;
 position:absolute;
 top:30px;
 right:5%;
 -webkit-transform:scale(0);
 -moz-transform:scale(0);
 -ms-transform:scale(0);
 -o-transform:scale(0);
 transform:scale(0)
}
.projects-container .cd-close i {
 color:#fff;
 font-size:30px;
 z-index:2
}
.project-is-open .cd-close {
 visibility:visible;
 -webkit-transform:scale(1);
 -moz-transform:scale(1);
 -ms-transform:scale(1);
 -o-transform:scale(1);
 transform:scale(1);
 -webkit-transition:-webkit-transform 0.4s 0s,visibility 0s 0s;
 -moz-transition:-moz-transform 0.4s 0s,visibility 0s 0s;
 transition:transform 0.4s 0s,visibility 0s 0s
}
.project-is-open .cd-scroll {
 -webkit-transform:translateX(-50%) scale(1);
 -moz-transform:translateX(-50%) scale(1);
 -ms-transform:translateX(-50%) scale(1);
 -o-transform:translateX(-50%) scale(1);
 transform:translateX(-50%) scale(1);
 -webkit-animation:cd-translate 1.2s 0.4s;
 -moz-animation:cd-translate 1.2s 0.4s;
 animation:cd-translate 1.2s 0.4s;
 -webkit-animation-iteration-count:2;
 -moz-animation-iteration-count:2;
 animation-iteration-count:2
}
.no-touch .project-is-open .cd-close:hover {
 -webkit-transform:scale(1.2);
 -moz-transform:scale(1.2);
 -ms-transform:scale(1.2);
 -o-transform:scale(1.2);
 transform:scale(1.2)
}
@-webkit-keyframes cd-translate {
 0% {
  -webkit-transform:translateX(-50%) scale(1)
 }
 50% {
  -webkit-transform:translateY(10px) translateX(-50%) scale(1)
 }
 100% {
  -webkit-transform:translateX(-50%) scale(1)
 }
}
@-moz-keyframes cd-translate {
 0% {
  -moz-transform:translateX(-50%) scale(1)
 }
 50% {
  -moz-transform:translateY(10px) translateX(-50%) scale(1)
 }
 100% {
  -moz-transform:translateX(-50%) scale(1)
 }
}
@keyframes cd-translate {
 0% {
  -webkit-transform:translateX(-50%) scale(1);
  -moz-transform:translateX(-50%) scale(1);
  -ms-transform:translateX(-50%) scale(1);
  -o-transform:translateX(-50%) scale(1);
  transform:translateX(-50%) scale(1)
 }
 50% {
  -webkit-transform:translateY(10px) translateX(-50%) scale(1);
  -moz-transform:translateY(10px) translateX(-50%) scale(1);
  -ms-transform:translateY(10px) translateX(-50%) scale(1);
  -o-transform:translateY(10px) translateX(-50%) scale(1);
  transform:translateY(10px) translateX(-50%) scale(1)
 }
 100% {
  -webkit-transform:translateX(-50%) scale(1);
  -moz-transform:translateX(-50%) scale(1);
  -ms-transform:translateX(-50%) scale(1);
  -o-transform:translateX(-50%) scale(1);
  transform:translateX(-50%) scale(1)
 }
}
