
.center{
    position: relative;
    left: 60%;
    top: 200px;
    transform: translate(-50%,-50%);

}
.bio_card{
    height: 500px;
    display: inline-flex;
        margin-bottom: -200px;
    flex-direction: row;
    
}

.left{
 
    margin: 0px;
    position: relative;
    width: 450px;
    height: 53%;
    border-radius: 25px 0 0 25px;
   background: rgb(76,179,233);
background: -moz-linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
background: linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cb3e9",endColorstr="#4a77e9",GradientType=1);
    color: #fafafa;
}
.left .box{
    position: relative;
    height: 50px;
}
.left .cover{
    width: 100%;
    height: 200px;
    border-radius: 25px 0 0 0;
}
.left .profile {
   position: absolute;
    top:-100px;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    border: 4px solid #fafafa;
}
.left h1{
    position: relative;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 20px 0;
}

.left .info{
    width: 100%;
      text-align: center;
    display: flex;
    flex-direction: row;
}
.left .info i{
    font-size: 2.6rem;
    margin-bottom: 12px;
}
.left .info h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}
.left .info .col{
    width: 33.33%;
}
.left .btn{
    z-index: 23;
      background: rgb(76,179,233);
background: -moz-linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
background: linear-gradient(90deg, rgba(76,179,233,1) 0%, rgba(74,119,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cb3e9",endColorstr="#4a77e9",GradientType=1);
    color: #fafafa;
    text-align: center;
    position: absolute;
    right: calc(0% - 23px);
    top: calc(200px - 23px);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    
}
.left .btn i{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}
.right
{
    background-color: #fff;
    width: 0px;
    overflow: hidden;
    height: 53%;
    /**/
     
  
}
.text{
    height: 100%;
    padding: 15px 30px;
    width: 450px;
}
.right h1{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.right h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 1rem;
}

.right h3{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
    font-size: 1rem;
}
.right p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    margin: 5px 0;
    font-size: 0.8rem;
    margin-bottom: 12px;
}
